<h1 mat-dialog-title>
    Add {{ additionalInfo.type }}
    <button mat-icon-button matTooltip="Close" type="button" [matTooltipPosition]="'above'" (click)="dialogRef.close()"
        class="dialog-close-btn">
        <mat-icon>close</mat-icon>
    </button>
</h1>
<div mat-dialog-content>

    <form fxLayout="row wrap" fxLayoutGap="25px" #addForm="ngForm" name="AddForm" (ngSubmit)="submitForm()">

        <ng-container [ngSwitch]="additionalInfo.type">
            <ng-container *ngSwitchCase="'Accomplishments'">
                <ng-container *ngTemplateOutlet="editor"></ng-container>
                <ng-template matTabContent #editor>
                    <editor [id]="'accomplishments'" autofocus [init]="tinyEditorConfig" [formControl]="editorText"
                        name="accomplishments" tagName="textarea" style="margin: 0; padding: 0; width: 100%;">
                    </editor>
                </ng-template>
            </ng-container>
            <ng-container *ngSwitchCase="'Affiliations'">
                <ng-container *ngTemplateOutlet="editor"></ng-container>
                <ng-template matTabContent #editor>
                    <editor [id]="'affiliations'" autofocus [init]="tinyEditorConfig" [formControl]="editorText"
                        name="affiliations" tagName="textarea" style="margin: 0; padding: 0; width: 100%;">
                    </editor>
                </ng-template>
            </ng-container>
            <ng-container *ngSwitchCase="'Certifications'">

                <div fxFlex="100" *ngFor="let certi of certifications; let index=index">
                    <mat-form-field fxFlex="35">
                        <input matInput [matDatepicker]="picker" [(value)]="certi.date" placeholder="Date"
                            name="certificationDate" [max]="maxDate" (click)="handlePicker($event, picker)"
                            (keydown)="handlePicker($event, picker, true)" autocomplete="off">
                        <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker disabled="false" startView="multi-year"
                            (yearSelected)="chosenYearHandler($event, picker, index)">
                        </mat-datepicker>
                    </mat-form-field>
                    &nbsp;
                    <mat-form-field fxFlex="55">
                        <input matInput type="text" [(value)]="certi.certificate" #certificateVal
                            (change)="certi.certificate = certificateVal.value" placeholder="Certification Name"
                            name="certificationName" autocomplete="off">
                    </mat-form-field>
                    &nbsp;
                    <button mat-button type="button" class="add-button" (click)="addDeleteCertificate('delete', index)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <div class="add-certificate">
                    <button mat-button type="button" class="add-button" (click)="addDeleteCertificate('add')">
                        <mat-icon>add_box</mat-icon> 
                        Add <span *ngIf="certifications.length > 0">More</span>
                    </button>
                </div>

            </ng-container>
            <ng-container *ngSwitchDefault>

                <div fxFlex="100">
                    <mat-form-field class="w-100-p">
                        <input matInput [matChipInputFor]="skillList" placeholder="Add {{ additionalInfo.type }}.."
                            [matChipInputAddOnBlur]="true" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="addValues($event)" [(ngModel)]="additionalText"
                            name="AdditionalText" />
                    </mat-form-field>
                    <mat-chip-list #skillList name="Skills" class="w-100-p">

                        <mat-chip tabindex="-1" *ngFor="let data of savedAdditionalData; let index=index;"
                            [removable]="true" (removed)="removeValues(index)">
                            {{data}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>

                    </mat-chip-list>
                </div>

            </ng-container>
        </ng-container>

        <div mat-dialog-actions>
            <button type="submit" class="accent" mat-raised-button>Save</button>
        </div>
    </form>
</div>