@import "src/@fuse/scss/fuse";
@import "src/@fuse/scss/fuse";

:host{
    .mat-dialog-title{
        color: mat-color($mat-green, 600); 
    }
    .mat-dialog-content{
        overflow: visible;
        padding: 0;

        form {
            padding-left: 20px;
        
            .mat-dialog-actions {
                // float: right;
                color: mat-color($mat-green, 600); 
                width: 100%;
                flex-direction: row-reverse;
                margin-right: 22px;
            }
        }
    } 
    .w-49 {
        width: 49% !important;
    }
    .dialog-close-btn{
        float: right;
        color: black !important;
    }
}