<!-- <div style="display: flex;flex: 1 1 0; align-items: center; justify-content: center;">
    <div style="text-align: center;">
        <img style="width: 50%;" src="/assets/images/background/no-data.svg">
        <h3>No Resumes Available</h3>
    </div>
</div> -->
<div id="cards" class="page-layout simple fullwidth">

    <!-- CONTENT -->
    <div class="content">

        <div class="card-preview p-12" fxLayout="row wrap">
            <div class="p-12 resumes" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="33.33%" fxFlex.gt-md="25%"
                *ngFor="let resume of resumeList">
                <div class="fuse-card p-4">
                    <img class="resume-img" [src]="imageBaseUrl + resume.resumeImage">
                    <!-- <img class="resume-img" [src]="'assets/images/templates/tp-1.png'"> -->
                    <div class="hover-box">
                        <button mat-mini-fab type="button" *ngIf="!chooseResume" (click)="previewImage(resume)">
                            <mat-icon>remove_red_eye</mat-icon>
                        </button>

                        <button mat-mini-fab type="button" *ngIf="!chooseResume" (click)="editResume(resume)">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <button mat-mini-fab type="button" *ngIf="!chooseResume" (click)="onDelete(resume)">
                            <mat-icon>delete</mat-icon>
                        </button>

                        <button mat-mini-fab type="button" matTooltip="Select this resume" *ngIf="chooseResume == true"
                            (click)="chooseResumeForJob(resume)">
                            <mat-icon>check</mat-icon>
                        </button>

                    </div>
                    <!-- <div class="px-8" style="align-self: flex-start;">
                        <div class="h3"><strong>{{ item.title }}</strong></div>
                    </div> -->

                </div>
            </div>
        </div>

    </div>
</div>

<!-- <object
  data="https://example.com/test.pdf#page=2"
  type="application/pdf"
  width="100%"
  height="100%">
  <p>Your browser does not support PDFs.
    <a href="https://example.com/test.pdf">Download the PDF</a>.</p>
</object> -->