<!-- <div style="display: flex;flex: 1 1 0; align-items: center; justify-content: center;">
    <div style="text-align: center;">
        <img style="width: 50%;" src="/assets/images/background/no-data.svg">
        <h3>No Resumes Available</h3>
    </div>
</div> -->
<div id="cards" class="page-layout simple fullwidth">

    <!-- CONTENT -->
    <div class="content">

        <div class="card-preview p-12" fxLayout="row wrap">
            <div class="p-12" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="33.33%" fxFlex.gt-md="25%">
                <div class="fuse-card">

                    <img class="resume-img" [src]="'assets/images/templates/tp-1.png'">
                    <div class="hover-box">
                        <button mat-mini-fab>
                            <mat-icon>remove_red_eye</mat-icon>
                        </button>

                        <button mat-mini-fab>
                            <mat-icon>edit</mat-icon>
                        </button>

                        <button mat-mini-fab>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>