.temp-box {
    // my changes
    // margin-top: 20px;
    // // width: 480px;
    // width: 595px; // A4 size
    // max-width: 100%;
    // background: #fff;
    // // background: #ebffec;
    // border: solid 2px #d2d2d2;
    // // box-shadow: 0 0 22px -10px #000;
    // padding: 10px 0;
    // // border-radius: 10px;
    // margin: auto;

    // uka bhai changes
    margin-top: 20px;
    // width: 480px;
    // width: 2480px;
    // height: 3508px;
    width: 80%;
    height: auto;
    max-width: 100%;
    // background: #ebffec;
    // border: solid 2px #d2d2d2;
    // box-shadow: 0 0 22px -10px #000;
    // padding: 10px 0;
    // border-radius: 10px;
    margin: auto;
    overflow: auto;
    table.resume-table{
        min-width: 450px;
    }
}