<div class="temp-box" id="template-resume" 
style="padding: 0 20px; margin-top: 20px;margin-bottom: 10px;border: solid 2px #d2d2d2;
box-shadow: 0 0 22px -10px #000;margin-left: 50px;">
    <table class="resume-table" cellspacing="0" cellpadding="0" id="resume-table"
        style="width: 100%; color: #444444; margin: 20px auto;" [ngStyle]="{'font-family': selectedFont}">
        <!-- font-family: sans-serif; margin: 20px auto 20px auto;  -->
        <tr>
            <td style="padding: 0 20px">
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                    <tr>
                        <td>
                            <h2 style="margin: 0; font-size: 14px;font-weight: 700;color: #444444;">
                                <span *ngIf="templateForm.firstName">{{templateForm.firstName}} </span>
                                <span *ngIf="!templateForm.firstName">Sumit </span>
                                <span *ngIf="templateForm.lastName ">{{templateForm.lastName}}</span>
                                <span *ngIf="!templateForm.lastName">Patel</span>
                            </h2>
                            <h4 style="margin: 0; font-size: 12px;font-weight: 600;color: #5f5e5edd;">
                                <ng-container *ngIf="templateForm?.designation">{{templateForm?.designation}}
                                </ng-container>
                                <ng-container *ngIf="!templateForm?.designation">{{ MockData.designation }}
                                </ng-container>
                            </h4>
                            <p style="margin: 0; font-size: 10px;color: #444444;"
                                [innerHTML]="careerObjective || ResumeMockData.data.careerObjective | safeHtml">
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- <tr>
            <td style="height: 10px;"></td>
        </tr> -->
        <tr>
            <td style="background: #c2c3c2d1;padding: 5px 20px; font-size: 10px; display: flex;
            flex-direction: row; justify-content: flex-start; flex-wrap: wrap;">

                <div style="display: inline-table; margin: 5px 20px 5px 0; width: 150px;  white-space: pre;">
                    <img style="width: 14px;display: inline-block;vertical-align: middle;" [src]="mailUrl" alt="">
                    <span style="margin-left: 7px;display: inline-block;vertical-align: middle;" *ngIf="userEmail"
                        [innerHTML]="userEmail">
                    </span>
                    <span style="margin-left: 7px;display: inline-block;vertical-align: middle;"
                        *ngIf="!userEmail">sumit.patel@gmail.com
                    </span>
                </div>
                <div style="display: inline-table; margin: 5px 20px 5px 0; width: 150px;  white-space: pre;">
                    <img style="width: 14px;display: inline-block;vertical-align: middle;" [src]="mobileUrl"
                        alt="mobile">
                    <span style="margin-left: 7px;display: inline-block;vertical-align: middle;"
                        *ngIf="templateForm.contactNumber" [innerHTML]="templateForm.contactNumber">
                    </span>
                    <span style="margin-left: 7px;display: inline-block;vertical-align: middle;"
                        *ngIf="!templateForm.contactNumber">1234567890
                    </span>
                </div>

                <div style="display: inline-table; margin: 5px 20px 5px 0; width: 150px;  white-space: pre;">
                    <img style="width: 14px;display: inline-block;vertical-align: middle;" [src]="addressUrl"
                        alt="location">
                    <span style="margin-left: 7px;display: inline-block;vertical-align: middle;"
                        *ngIf="templateForm.fullAddress" [innerHTML]="templateForm.fullAddress">
                    </span>
                    <span style="margin-left: 7px;display: inline-block;vertical-align: middle;"
                        *ngIf="!templateForm.fullAddress"> Lorem ipsum dolor met
                    </span>
                </div>

                <ng-container>
                    <ng-container *ngFor="let social of socialData">
                        <div style="display: inline-table; margin: 5px 20px 5px 0; width: 150px;  white-space: pre;"
                            *ngIf="social.link && social.website">
                            <!-- <img style="width: 14px;display: inline-block;vertical-align: middle;"
                                [src]="'assets/icons/template-icons/' + social.website + '.svg'" alt=""> -->
                            <ng-container [ngSwitch]="social.website">
                                <img style="width: 14px;display: inline-block;vertical-align: middle;" [src]="skypeUrl"
                                    alt="{{social.website}}" *ngSwitchCase="'skype'">
                                <img style="width: 14px;display: inline-block;vertical-align: middle;"
                                    [src]="linkedinUrl" alt="{{social.website}}" *ngSwitchCase="'linkedin'">
                                <img style="width: 14px;display: inline-block;vertical-align: middle;"
                                    [src]="websiteUrl" alt="{{social.website}}" *ngSwitchCase="'website'">
                                <img style="width: 14px;display: inline-block;vertical-align: middle;" [src]="fbUrl"
                                    alt="{{social.website}}" *ngSwitchCase="'facebook'">
                            </ng-container>
                            <span style="margin-left: 7px;display: inline-block;vertical-align: middle;"
                                [innerHTML]="social.link"></span>
                        </div>
                    </ng-container>
                </ng-container>

            </td>
        </tr>

        <tr *ngIf="skillList.length > 0">
            <td style="height: 10px;"></td>
        </tr>
        <tr *ngIf="skillList.length > 0">
            <td style="padding: 0 20px">
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                    <tr>
                        <td style="font-size: 0;">
                            <tr>
                                <h3 style="margin:0 0 5px; font-size: 12px; text-transform: uppercase; font-weight: bold;">
                                    Areas of expertise
                                </h3>
                            </tr>
                            <tr style="display: flex; flex-direction: row; justify-content: flex-start; flex-wrap: wrap;">
                                <p style="margin: 2px 5px; font-size: 10px; transition: unsafe 0s ease 0s;
                                border-radius: 16px; color: black; width: 100px; white-space: pre; display: inline-table;
                                padding-top: 7px;"
                                    *ngFor="let item of skillList" [ngStyle]="{'color': fontColor ,
                                        'background-color' : backColor}">
                                    {{ item.skillName }}
                                </p>
                            </tr>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr *ngIf="experienceList.length > 0">
            <td style="height: 10px;"></td>
        </tr>
        <tr *ngIf="experienceList.length > 0">
            <td style="padding: 0 20px">
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                    <tr>
                        <td>
                            <h3 style="margin:0 0 5px; font-size: 12px; text-transform: uppercase; font-weight: bold;">
                                Work experience
                            </h3>
                        </td>
                    </tr>
                    <tr *ngFor="let item of experienceList">
                        <td style="font-size: 0; padding: 0 10px 0px 10px;">
                            <h3 style="margin:0; font-size: 10px; font-weight: 600;" [innerHTML]="item.designation"></h3>
                            <h4 style="margin:2px 0 0; font-size: 10px; color: #0e0e0edd;" [innerHTML]="item.companyName">
                            </h4>
                            <div style="margin: 7px 0 5px;">
                                <p style="display:inline-block;width: 50%;margin:0;font-style: italic;
                                                font-size: 10px;color: #383737;">
                                    {{ item.joiningDate | date: 'LLLL yyyy' }} -
                                    {{ item.leavingDate | date: 'LLLL yyyy' }}
                                </p>
                                <p style="display:inline-block;width: 50%;margin:0;font-style: italic;
                                                font-size: 10px;color: #383737;text-align: right;"
                                    [innerHTML]="item.location">
                                </p>
                            </div>
                            <div style="margin:0; font-size: 10px; color: #070707;"
                                [innerHTML]="item.jobDescription | safeHtml">
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr *ngIf="educationList.length > 0">
            <td style="height: 10px;"></td>
        </tr>
        <tr *ngIf="educationList.length > 0">
            <td style="padding: 0 20px">
                <table cellspacing="0" cellpadding="0" style="width: 100%; display: flex; flex-direction: column;">
                    <tr>
                        <td>
                            <h3 style="margin:0 0 5px; font-size: 12px; text-transform: uppercase; font-weight: bold;">
                                Education Summary
                            </h3>
                        </td>
                    </tr>
                    <tr style="width: 100%; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; display: flex;">
                        <td style="font-size: 0; padding: 0 10px; width: 50%; vertical-align: top;"
                            *ngFor="let item of educationList">
                            <h3 style="margin:0; font-size: 10px;" [innerHTML]="item.courseName"></h3>
                            <h4 style="margin:2px 0 0; font-size: 10px; color: #383737;" [innerHTML]="item.collegeName">
                            </h4>
                            <div style="margin: 7px 0 5px;">
                                <p style="display:inline-block;width: 50%;margin:0;font-style: italic;
                                                font-size: 10px;color: #383737;">
                                    {{ item.yearOfPassing | date: 'yyyy' }}
                                </p>
                                <p style="display:inline-block;width: 50%;margin:0;font-style: italic;
                                                font-size: 10px;color: #383737;text-align: right;"
                                    [innerHTML]="item.universityName">
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <ng-container *ngIf="additionalList.length > 0">
            <ng-container *ngFor="let item of additionalList">
                <tr>
                    <td style="height: 10px;"></td>
                </tr>
                <tr>
                    <td style="padding: 0 20px;">
                        <table cellspacing="0" cellpadding="0" style="width: 100%">
                            <tr>
                                <td [ngStyle]="{'font-size': item.type == 'Accomplishments' ? '12px' : '0' }">
                                    <h3 style="margin:0 0 5px; font-size: 12px; text-transform: uppercase; font-weight: bold;"
                                        [innerHTML]="item.type">
                                    </h3>

                                </td>
                            </tr>
                            <ng-container [ngSwitch]="item.type">
                                <ng-container *ngSwitchCase="'Accomplishments'">
                                    <p [innerHTML]="item.value | safeHtml" style="font-size: 10px;color: black;margin: 2px 5px;"></p>
                                </ng-container>
                                <ng-container *ngSwitchCase="'Affiliations'">
                                    <p [innerHTML]="item.value | safeHtml" style="font-size: 10px;color: black;margin: 2px 5px;"></p>
                                </ng-container>
                                <ng-container *ngSwitchCase="'Certifications'">
                                    <tr>
                                        <td style="width: 50%; padding: 0px 15px 0 10px; vertical-align: top;"
                                            *ngFor="let data of item.value">
                                            <h3 style="margin:0; font-size: 10px;">
                                                {{ data.certificate }}
                                            </h3>
                                            <p
                                                style="display:inline-block;margin:0;font-style: italic;font-size: 10px;color: #383737;">
                                                {{ data.date | date: 'yyyy' }}
                                            </p>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    <tr style="display: flex; flex-direction: row; justify-content: flex-start; flex-wrap: wrap;">
                                        <p style="margin: 2px 5px; font-size: 10px; transition: unsafe 0s ease 0s; padding: 7px 0px;
                                        border-radius: 16px; color: black; width: 50px; white-space: pre; display: inline-table;"
                                        [ngStyle]="{'color': fontColor ,'background-color' : backColor}" *ngFor="let data of item.value">
                                            {{ data }}
                                        </p>
                                    </tr>

                                </ng-container>
                            </ng-container>
                        </table>
                    </td>
                </tr>
            </ng-container>
        </ng-container>
    </table>
</div>