<div class="temp-box" id="template-resume"
style="padding: 0 20px; margin-top: 20px;margin-bottom: 10px;border: solid 2px #d2d2d2;margin-left: 50px;">
  <table class="resume-table" cellspacing="0" cellpadding="0"  id="resume-table"
    style="color: #444444; margin: 20px auto;"
    [ngStyle]="{'font-family': selectedFont}">
    <!-- font-family: sans-serif; margin: 20px auto 20px auto; -->
    <tr>
      <td style="padding: 10px 20px 0px 20px">
        <table cellspacing="0" cellpadding="0" style="width: 100%">
          <tr>
            <td>
              <h2 style="margin: 0 0 5px; font-size: 18px;font-weight: 700;color: #3f3d3d;">
                <span *ngIf="templateForm.firstName">{{templateForm.firstName}} </span>
                <span *ngIf="!templateForm.firstName">Sumit </span>
                <span *ngIf="templateForm.lastName ">{{templateForm.lastName}}</span>
                <span *ngIf="!templateForm.lastName">Patel</span>
              </h2>
              <h4 style="margin: 0 0 5px; font-size: 12px;font-weight: bold;color: #2f9032;">
                <ng-container *ngIf="templateForm?.designation">{{templateForm?.designation}}</ng-container>
                <ng-container *ngIf="!templateForm?.designation">{{ MockData.designation }}</ng-container>
              </h4>
              <div style="margin: 0 0 5px 0; font-size: 10px;color: #0e0d0d;font-weight: 600;"
                [innerHTML]="careerObjective || ResumeMockData.data.careerObjective | safeHtml"></div>
            </td>
            <td *ngIf="profileSrc">
              <div style="border: solid 2px #2f9032;border-radius: 5px;">
                <img style="display: block; width: 150px;" [src]="profileSrc" alt="profile">
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td style="padding: 0px 20px; font-size: 0;color: #262525;">
        <div
          style="display: inline-table;white-space: pre-wrap;padding: 7px 0px 0px 0;width: 50%;box-sizing: border-box;">
          <img style="width: 14px;display: inline-block;vertical-align: middle;" [src]="mailUrl" alt="mail">
          <span style="font-size: 10px;margin-left: 7px;vertical-align: middle;" *ngIf="userEmail"
            [innerHTML]="userEmail">
          </span>
          <span style="font-size: 10px;margin-left: 7px;vertical-align: middle;"
            *ngIf="!userEmail">Sumit.Patel@gmail.com
          </span>
        </div>
        <div
          style="display: inline-table;white-space: pre-wrap;padding: 7px 0px 0px 0;width: 50%;box-sizing: border-box;">
          <img style="width: 14px;display: inline-block;vertical-align: middle;" [src]="mobileUrl" alt="mobile">
          <span style="font-size: 10px;margin-left: 7px;vertical-align: middle;"
            *ngIf="templateForm.contactNumber" [innerHTML]="templateForm.contactNumber">
          </span>
          <span style="font-size: 10px;margin-left: 7px;vertical-align: middle;"
            *ngIf="!templateForm.contactNumber">1234567890
          </span>
        </div>

        <div
          style="display: inline-table;white-space: pre-wrap;padding: 7px 0px 0px 0;width: 50%;box-sizing: border-box;">
          <img style="width: 14px;display: inline-block;vertical-align: middle;" [src]="addressUrl" alt="location">
          <span style="font-size: 10px;margin-left: 7px;vertical-align: middle;"
            *ngIf="templateForm?.fullAddress" [innerHTML]="templateForm.fullAddress">
          </span>
          <span style="font-size: 10px;margin-left: 7px;vertical-align: middle;"
            *ngIf="!templateForm || !templateForm.fullAddress"> Lorem ipsum dolor
            met
          </span>
        </div>

        <ng-container *ngFor="let social of socialData">
          <div style="display: inline-table;white-space: pre-wrap;
          padding: 7px 0px 0px 0;width: 50%;box-sizing: border-box;" *ngIf="social.link && social.website">
            <!-- <img style="width: 14px;display: inline-block;vertical-align: middle;"
              [src]="'assets/icons/template-icons/' + social.website + '-w.svg'" alt="{{social.website}}"> -->
            <ng-container [ngSwitch]="social.website">
              <img style="width: 14px;display: inline-block;vertical-align: middle;" [src]="skypeUrl"
                alt="{{social.website}}" *ngSwitchCase="'skype'">
              <img style="width: 14px;display: inline-block;vertical-align: middle;" [src]="linkedinUrl"
                alt="{{social.website}}" *ngSwitchCase="'linkedin'">
              <img style="width: 14px;display: inline-block;vertical-align: middle;" [src]="websiteUrl"
                alt="{{social.website}}" *ngSwitchCase="'website'">
              <img style="width: 14px;display: inline-block;vertical-align: middle;" [src]="fbUrl"
                alt="{{social.website}}" *ngSwitchCase="'facebook'">
            </ng-container>
            <span style="font-size: 10px;margin-left: 7px;vertical-align: middle;"
              [innerHTML]="social.link">
            </span>
          </div>
        </ng-container>

      </td>
    </tr>
    <tr>
      <td style="padding: 10px 20px">
        <table cellspacing="0" cellpadding="0" style="width: 100%">
          <tr>
            <td style="padding-right: 15px;width: 50%;vertical-align: top;">
              <table cellspacing="0" cellpadding="0" style="width: 100%">
                <tr *ngIf="experienceList.length > 0">
                  <td>
                    <h2 style="color: #2f9032;margin:0 0 7px; font-size: 14px; text-transform: uppercase">
                      <span
                        style="display: inline-block;border-bottom: solid 2px;line-height: 22px;font-weight: bold;">Work
                        experience</span>
                    </h2>
                    <div *ngFor="let item of experienceList; let i = index">
                      <!-- [ngStyle]="{'margin-top': i > 0 ? '15px' : '0'}" -->
                      <h3 style="margin:0; font-size: 12px;font-weight: bold;" [innerHTML]="item.designation"></h3>
                      <h4 style="color: #2f9032;margin:2px 0 0; font-size: 13px;" [innerHTML]="item.companyName"></h4>
                      <div style="font-size: 0;margin: 7px 0 5px;">
                        <p
                          style="color: #2f9032;display:inline-block;width: 50%;margin:0;font-style: italic;font-size: 10px;">
                          {{ item.joiningDate | date: 'LLLL yyyy' }} - {{ item.leavingDate | date: 'LLLL yyyy' }}
                        </p>
                        <p style="color: #2f9032;display:inline-block;width: 50%;margin:0;font-style: italic;font-size: 10px;text-align: right;"
                          [innerHTML]="item.location">
                        </p>
                      </div>
                      <div style="font-size: 10px;margin: 7px 0 5px;" *ngIf="item.jobDescription"
                        [innerHTML]="item.jobDescription | safeHtml"></div>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="educationList.length > 0">
                  <td style="height: 5px;"></td>
                </tr>
                <tr *ngIf="educationList.length > 0">
                  <td>
                    <h2 style="color: #2f9032;margin:0 0 7px; font-size: 14px; text-transform: uppercase">
                      <span
                        style="display: inline-block;border-bottom: solid 2px;line-height: 22px;font-weight: bold;">Education</span>
                    </h2>
                    <div *ngFor="let item of educationList">
                      <h3 style="margin:0; font-size: 14px;" [innerHTML]="item.courseName"></h3>
                      <h4 style="color: #2f9032;margin:2px 0 0; font-size: 13px;" [innerHTML]="item.collegeName"></h4>
                      <div style="font-size: 0;margin: 7px 0 5px;">
                        <p
                          style="color: #2f9032;display:inline-block;width: 50%;margin:0;font-style: italic;font-size: 10px;">
                          {{ item.yearOfPassing | date: 'yyyy' }}
                        </p>
                      </div>
                    </div>
                  </td>
                </tr>
                <ng-container *ngIf="additionalList.length > 0">
                  <ng-container *ngFor="let item of additionalList">
                    <tr *ngIf="item.type == 'Accomplishments'">
                      <td style="height: 5px;"></td>
                    <tr *ngIf="item.type == 'Accomplishments'">
                      <td>
                        <h2 style="color: #2f9032;margin:0 0 7px; font-size: 14px; text-transform: uppercase">
                          <span style="display: inline-block;border-bottom: solid 2px;line-height: 22px;"
                            [innerHTML]="item.type"></span>
                        </h2>
                        <p style="margin:0; font-size: 10px;" [innerHTML]="item.value | safeHtml"></p>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </table>
            </td>
            <td style="padding-left: 15px;width: 50%;vertical-align: top;" *ngIf="skillList.length > 0">
              <table cellspacing="0" cellpadding="0" style="width: 100%">
                <tr>
                  <td>
                    <h2 style="color: #2f9032;margin:0 0 7px; font-size: 14px; text-transform: uppercase">
                      <span
                        style="display: inline-block;border-bottom: solid 2px;line-height: 22px;font-weight: bold;">Skills</span>
                    </h2>
                    <table cellspacing="0" cellpadding="0" style="width: 100%">
                      <tr *ngFor="let skill of skillList">
                        <td style="font-weight: 800;font-size: 10px;padding: 7px 0;">{{skill.skillName}}</td>
                        <td style="font-size: 0;text-align: right;padding: 7px 0;white-space: nowrap;">
                          <span *ngFor="let item of Arr(ratingMax); let i = index;"
                            [ngStyle]="{'background-color': (i < skill.ratings) ? '#2f9032' : '#b7b7b7' }"
                            style="border-radius: 2px;display: inline-block;margin-left: 10px;width:15px;height: 15px;"></span>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <ng-container *ngIf="additionalList.length > 0">
                  <ng-container *ngFor="let item of additionalList">
                    <tr>
                      <td style="height: 5px;"></td>
                    </tr>
                    <tr *ngIf="item.type !== 'Accomplishments'">
                      <td>
                        <h2
                          style="color: #2f9032;margin:0 0 7px; font-size: 14px; text-transform: uppercase;font-weight: bold;">
                          <span style="display: inline-block;border-bottom: solid 2px;line-height: 22px;"
                            [innerHTML]="item.type"></span>
                        </h2>

                        <ng-container [ngSwitch]="item.type">

                          <ng-container *ngSwitchCase="'Accomplishments'">
                            <!-- <p style="margin:0; font-size: 10px;" [innerHTML]="item.value | safeHtml"></p> -->
                          </ng-container>

                          <ng-container *ngSwitchCase="'Affiliations'">
                            <p style="margin:0; font-size: 10px;" [innerHTML]="item.value | safeHtml"></p>
                          </ng-container>

                          <ng-container *ngSwitchCase="'Certifications'">

                            <div style="margin-top:10px" *ngFor="let data of item.value">
                              <h3 style="margin:0; font-size: 10px;">{{ data.certificate }} </h3>
                              <p
                                style="display:inline-block;margin:0;font-style: italic;font-size: 10px;color: #909090;">
                                {{ data.date | date: 'yyyy' }}</p>
                            </div>

                          </ng-container>

                          <ng-container *ngSwitchDefault>
                            <div style="display: inline-table;white-space: nowrap;width: 50%;box-sizing: border-box;"
                              *ngFor="let data of item.value">
                              <span
                                style="font-size: 10px;margin-left: 7px;display: inline-block;vertical-align: middle;">
                                {{ data }}
                              </span>
                            </div>
                          </ng-container>

                        </ng-container>

                      </td>

                  </ng-container>
                </ng-container>
              </table>
            </td>
          </tr>
        </table>
      </td>
  </table>
</div>