<div id="add-job" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-30 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    work_outline
                </mat-icon>
                <span class="logo-text h3" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Add Job Details
                </span>
            </div>
            <!-- / APP TITLE -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <div class="content">

                <div fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-md="100">

                    <div class="tab-content pl-12 h-100-p">

                        <form class="template-form" fxLayout="row wrap" [formGroup]="addJobForm" (ngSubmit)="onSubmit()" novalidate>

                            <div fxFlex="100" class="mb-24">
                                <div floatLabel="always">
                                    <mat-label>Select logo</mat-label>
                                    <app-drag-drop-uploader (selectFile)="getFileData($event)"></app-drag-drop-uploader>
                                    <input type="text" id="file-upload" hidden formControlName="logo" accept="image/*">
                                </div>

                                <div class="mt-12" floatLabel="always" *ngIf="logoFileName">
                                    <span class="accent upload-span border-radius-16 p-8 w-50-p">
                                        {{logoFileName}}
                                    </span>
                                    <button type="button" class="remove-btn" mat-icon-button (click)="removeImage()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                            </div>

                            <mat-form-field fxFlex="100" floatLabel="always" appearance="outline" class="px-8 m-0">
                                <mat-label>Job Position</mat-label>
                                <input matInput type="text" placeholder="Enter Job Position" name="JobPosition" formControlName="jobPosition" autocomplete="off" required>
                                <mat-error *ngIf="addJobForm.get('jobPosition').hasError('required')">
                                    Please enter job position
                                </mat-error>
                            </mat-form-field>

                            <!-- <mat-form-field fxFlex="100" floatLabel="always" appearance="outline" class="px-8">
                                <mat-label>Job Description</mat-label>
                                <textarea matInput placeholder="Enter Job Description" name="JobDescription" formControlName="jobDescription" autocomplete="off" required rows="3">
                                </textarea>
                                <mat-error *ngIf="addJobForm.get('jobDescription').hasError('required')">
                                    Please enter job description
                                </mat-error>
                            </mat-form-field> -->

                            <div fxFlex.xs="100" fxFlex="100">
                                <ng-container *ngTemplateOutlet="editor"></ng-container>
                                  <ng-template matTabContent #editor>
                                      <label class="ml-8 info">Description</label>
                                      <editor [id]="'JobDescription'" autofocus class="tiny-editor"
                                      [init]="tinyEditorConfig" placeholder="Job profile description" 
                                      [formControlName]="'jobDescription'" tagName="textarea">
                                      </editor>
                                      <mat-error *ngIf="addJobForm.get('jobDescription').touched &&
                                      addJobForm.get('jobDescription').value == '' ">
                                          Please fill in job description
                                      </mat-error>
                                  </ng-template>
                              </div>

                            <mat-form-field fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="50%" fxFlex.gt-md="50%" floatLabel="always" appearance="outline" class="px-8">
                                <mat-label>Job Location State</mat-label>
                                <input matInput type="text" placeholder="Select Job Location State" formControlName="state" autocomplete="off" required fxFlex [matAutocomplete]="auto">
                                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="getCityFromState($event)">
                                    <mat-option *ngFor="let option of filteredStateOptions | async" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="addJobForm.get('state').hasError('required')">
                                    Please select state for job location
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="50%" fxFlex.gt-md="50%" floatLabel="always" appearance="outline" class="px-8">
                                <mat-label>Job Location City</mat-label>
                                <input matInput type="text" placeholder="Select Job Location" name="Location" formControlName="location" autocomplete="off" required fxFlex [matAutocomplete]="autoState">
                                <mat-autocomplete autoActiveFirstOption #autoState="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredCityOptions | async" [value]="option.city">
                                        {{option.city}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="addJobForm.get('location').hasError('required')">
                                    Please select job location
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex="100" floatLabel="always" appearance="outline" class="px-8">
                                <mat-label>Company Name</mat-label>
                                <input matInput type="text" placeholder="Enter Job Company Name" name="CompanyName" formControlName="companyName" autocomplete="off" required>
                                <mat-error *ngIf="addJobForm.get('companyName').hasError('required')">
                                    Please enter company name
                                </mat-error>
                            </mat-form-field>

                            <!--<mat-form-field fxFlex="100" floatLabel="always" appearance="outline" class="px-8">
                                <mat-label>Job Search Keywords</mat-label>
                                <input matInput type="text" placeholder="Enter Job Search Keywords" name="Keywords" formControlName="keywords" autocomplete="off" required>
                                <mat-error *ngIf="addJobForm.get('keywords').hasError('required')">
                                    Please enter job search keywords
                                </mat-error>
                            </mat-form-field> -->

                            <!-- workExperience -->
                            <div class="custom-slider px-8 mb-8 ml-4" fxFlex="100">
                                <mat-label>Experience</mat-label>
                                <ng5-slider [(value)]="minExperience" formControlName="workExperience" [(highValue)]="maxExperience" [options]="options" required></ng5-slider>
                            </div>

                            <div class="custom-slider px-8 mb-8 ml-4" fxFlex="100">
                                <mat-label>Expected Salary (in Lakhs)</mat-label>
                                <ng5-slider [(value)]="minSalary" formControlName="expectedSalary" [(highValue)]="maxSalary" [options]="salaryOptions"></ng5-slider>
                            </div>

                            <!-- industry -->
                            <mat-form-field fxFlex="100" floatLabel="always" appearance="outline" class="px-8">
                                <mat-label>Industry</mat-label>
                                <input matInput type="text" placeholder="Select Industry" name="Industry" formControlName="industry" autocomplete="off" required fxFlex [matAutocomplete]="autoIndustry">
                                <mat-autocomplete autoActiveFirstOption #autoIndustry="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredIndustryOptions | async" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="addJobForm.get('industry').hasError('required')">
                                    Please select industry
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex="100" floatLabel="always" appearance="outline" class="px-8">
                                <mat-label>Job Category</mat-label>
                                <input matInput type="text" placeholder="Select Job Category" name="JobCategory" formControlName="jobCategory" autocomplete="off" required fxFlex [matAutocomplete]="autoJobType">
                                <mat-autocomplete autoActiveFirstOption #autoJobType="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredCategoryOptions | async" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="addJobForm.get('jobCategory').hasError('required')">
                                    Please select job category
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex="100" floatLabel="always" appearance="outline" class="px-8">
                                <mat-label>Job Type</mat-label>
                                <mat-select placeholder="Select Job Type" name="JobType" formControlName="jobType" autocomplete="off" required>
                                    <mat-option *ngFor="let job of jobTypeOptions" [value]="job.value">
                                        {{ job.viewValue }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="addJobForm.get('jobType').hasError('required')">
                                    Please select job type
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex="100" floatLabel="always" appearance="outline" class="px-8 mt-20">
                                <mat-label>Email</mat-label>
                                <input matInput type="text" placeholder="Enter Job Contact Email" name="Email" formControlName="email" autocomplete="off" required>
                                <mat-error *ngIf="addJobForm.get('email').hasError('required')">
                                    Please enter job contact email
                                </mat-error>
                                <mat-error *ngIf="addJobForm.get('email').hasError('email')">
                                    Please enter proper job contact email
                                </mat-error>
                            </mat-form-field>

                            <div class="pt-12 pl-8 pb-4">
                                <button type="submit" class="stepper-back" color="primary" mat-raised-button>
                                    Save
                                </button> &nbsp;
                                <button type="submit" class="stepper-back" color="accent" mat-raised-button [routerLink]="['/ad/job-mgmt']">
                                    Cancel
                                </button>
                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>