<div id="dashboard-analytics" class="page-layout blank">

    <div class="main-widget" *ngIf="widget1SelectedYear">

        <div class="position-relative p-24 blue-600" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="start start">
                <span class="h2">Visitors</span>
                <span class="h5 secondary-text">Unique visitors by month</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <!-- <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                    (click)="widget1SelectedYear = '2016'" [ngClass]="{'blue-700': widget1SelectedYear === '2016'}">
                    2016
                </div>
                <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                    (click)="widget1SelectedYear = '2017'" [ngClass]="{'blue-700': widget1SelectedYear === '2017'}">
                    2017
                </div> -->
                <div class="py-8 px-12 border-radius-2 line-height-1 cursor-pointer" *ngFor="let year of widget1Years"
                    (click)="widget1SelectedYear = year" [ngClass]="{'blue-700': widget1SelectedYear === year}">
                    {{year}}
                </div>
            </div>
        </div>

        <div class="position-relative h-256 pb-16 blue-600">
            <canvas baseChart [datasets]="widget1Conf.datasets[widget1SelectedYear]" [labels]="widget1Conf.labels"
                [colors]="widget1Conf.colors" [options]="widget1Conf.options" [chartType]="widget1Conf.chartType">
            </canvas>
        </div>

    </div>

    <div class="content p-24">

        <div class="left">

            <div class="pb-8 px-8 font-size-18 font-weight-300" *ngIf="statisticWidget.length > 0">
                How much your users have their resumes?
            </div>

            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                <!-- WIDGET 1 of project-->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
                    fxFlex.gt-xs="50" fxFlex.gt-md="25" *ngFor="let stat of statisticWidget; let index = index;">

                    <!-- Front -->
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-form-field style="display: none;">
                                <mat-select class="simplified font-size-16" [(ngModel)]="stat.currentRange"
                                    aria-label="Change range">
                                    <mat-option *ngFor="let range of stat.ranges | keys" [value]="range.key">
                                        {{range.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button mat-icon-button fuseWidgetToggle aria-label="more" style="display: none;">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </div>

                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <!-- <div class="light-blue-fg font-size-72 line-height-72"> -->
                            <div class=" font-size-72 line-height-72" [ngClass]="{'light-blue-fg': index == 0, 'red-fg': index == 1, 
                                'orange-fg': index == 2, 'blue-grey-fg': index == 3
                                }">
                                <!-- {{stat.data.count[stat.currentRange]}} -->
                                {{stat.data.count['DT']}}
                            </div>
                            <div class="h3 secondary-text font-weight-500">{{stat.data.label}}
                            </div>
                        </div>

                        <!-- <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h4 secondary-text text-truncate">
                                {{widgets.widget1.data.extra.label}}:
                            </span>
                            <span class="h4 ml-8">
                                {{widgets.widget1.data.extra.count[widgets.widget1.currentRange]}}
                            </span>
                        </div> -->
                    </div>
                    <!-- / Front -->

                    <!-- Back -->
                    <div class="fuse-widget-back p-16 pt-32">
                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                            aria-label="Flip widget">
                            <mat-icon class="s-16">close</mat-icon>
                        </button>

                        <div>
                            <!-- {{widget1Conf.detail}} -->
                        </div>
                    </div>
                    <!-- / Back -->

                </fuse-widget>
                <!-- WIDGET 1 of project-->
            </div>


            <!-- Widget 5 -->
            <div class="pt-24 pb-8 px-8 font-size-18 font-weight-300">
                How many resumes your users made?
            </div>
            <fuse-widget class="px-8" *ngIf="widget5SelectedDay">
                <div class="fuse-card auto-width">

                    <div class="position-relative p-24 w-100-p" fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="column" fxLayoutAlign="start start">
                            <span class="h2">Visitors' resumes</span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <!-- <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                                (click)="widget5SelectedDay = 'yesterday'"
                                [ngClass]="{'accent': widget5SelectedDay === 'yesterday'}">
                                Yesterday
                            </div> s-->
                            <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                                *ngFor="let year of widget5Years"
                                (click)="widget5SelectedDay = year"
                                [ngClass]="{'accent': widget5SelectedDay === year}">
                                {{year}}
                            </div>
                        </div>
                    </div>

                    <div class="position-relative h-368 pb-16 w-100-p">
                        <canvas baseChart [datasets]="widget5Conf.datasets[widget5SelectedDay]"
                            [labels]="widget5Conf.labels" [colors]="widget5Conf.colors"
                            [options]="widget5Conf.options" [chartType]="widget5Conf.chartType">
                        </canvas>
                    </div>
                </div>
            </fuse-widget>

            <!-- / Widget 5 -->

        </div>

    </div>

</div>