<div id="cards" class="page-layout simple fullwidth">

    <!-- HEADER -->
    <!-- <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="space-between center">
    
            <div fxLayout="column" fxLayoutAlign="center start">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">User Interface</span>
                </div>
                <div class="h2 mt-16">Cards</div>
            </div>
    
            <div>
            </div>
    
        </div> -->
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" [ngClass]="this.view">

        <div class="cards">

            <!-- CARD 1 -->
            <div class="card">

                <!-- PREVIEW -->
                <div class="card-preview">

                    <div class="fuse-card m-12" *ngFor="let item of templateData">

                        <img [src]="item" (click)="selectTemplate()">

                        <div class="pl-16" style="align-self: flex-start;">
                            <div class="h3"><strong>Basic</strong></div>
                            <!-- <div class="h4 secondary-text">Free on Thursdays</div> -->
                        </div>

                        <div class="p-16 pt-4 line-height-1.75 font-size-12">
                            Easily personalize this basic resume layout that can be completed in under ten minutes
                            through our intuitive process.
                        </div>

                    </div>

                </div>
                <!-- / PREVIEW -->



            </div>
            <!-- / CARD 1 -->

        </div>

    </div>
    <!-- / CONTENT -->

</div>