<div id="users" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-8 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    people
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Users</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper  ml-sm-32">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Search for a user">
                </div>
            </div>
            <!-- / SEARCH -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <div class="table-scroll">
                <table mat-table class="orders-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                    <!-- ID Column -->
                    <ng-container matColumnDef="_id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sr.</th>
                        <td mat-cell *matCellDef="let user; let index= index">
                            <p class="text-truncate">{{ index + 1 }}</p>
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                        <td mat-cell *matCellDef="let user">
                            <p class="text-truncate">{{user.name}}</p>
                        </td>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                        <td mat-cell *matCellDef="let user">
                            <p class="text-truncate">
                                {{user.email}}
                            </p>
                        </td>
                    </ng-container>

                    <!-- Resumes Column -->
                    <!-- <ng-container matColumnDef="resumes">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Resumes</th>
                        <td mat-cell *matCellDef="let user">
                            <p class="text-truncate">
                                {{user.resumes}}
                            </p>
                        </td>
                    </ng-container> -->

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                        <td mat-cell *matCellDef="let user">
                            <p class="text-truncate text-capitalize">
                                {{user.type}}
                            </p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="currentJobLocation">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Current Job Location</th>
                        <td mat-cell *matCellDef="let user">
                            <p class="text-truncate text-capitalize">
                                {{user.currentJobLocation}}
                            </p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="preferredJobLocation">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Preferred Job Location</th>
                        <td mat-cell *matCellDef="let user">
                            <p class="text-truncate text-capitalize">
                                {{user.preferredJobLocation}}
                            </p>
                        </td>
                    </ng-container>

                    <!-- Payment Column -->
                    <!-- <ng-container matColumnDef="payment">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Payment</th>
                        <td mat-cell *matCellDef="let user">
                            <mat-icon class="accent border-radius-100" *ngIf="user.payment">done</mat-icon>
                            <mat-icon class="red border-radius-100" *ngIf="!user.payment">clear</mat-icon>
                        </td>
                    </ng-container> -->

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                        <td mat-cell *matCellDef="let order">
                            <p class="status text-truncate p-4">
                                <ng-container *ngIf="order.status == '0'">Inactive</ng-container>
                                <ng-container *ngIf="order.status == '1'">Active</ng-container>
                            </p>
                        </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                        <td mat-cell *matCellDef="let order">
                            <button mat-icon-button type="button" matTooltip="Delete" [matTooltipPosition]="'above'" class="red-400-fg" (click)="onDelete(order)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>

                    <tr mat-row *matRowDef="let order; columns: displayedColumns;" class="order" matRipple>
                    </tr>
                </table>
            </div>
            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>