@import "src/@fuse/scss/fuse";
@import "src/@fuse/scss/fuse";

:host{
    .mat-dialog-title{
        color: mat-color($mat-green, 600); 
    }
    .mat-dialog-content{
        overflow: visible;

        form {
            padding-left: 20px;
            
            .mat-datepicker-toggle{
                font-size: 22px !important;
            }
        
            .mat-dialog-actions {
                // float: right;
                color: mat-color($mat-green, 600); 
                width: 100%;
                flex-direction: row-reverse;
            }
        }
    } 
    .w-49 {
        width: 49% !important;
    }
}