:host{
    .mat-dialog-title{
        color: #43a047;   
    }
    .mat-dialog-content{
        overflow: visible;

        .mat-datepicker-toggle{
            font-size: 22px !important;
        }
        
        .mat-dialog-actions {
            float: right;
            color: #43a047;   
        }
    } 
    .w-49 {
        width: 49% !important;
    }
}