<div id="about" class="p-24" fxFlex>

    <div class="about-content" fxLayout="row wrap" fxFlex="100" fxlayoutgap="5px" fxLayoutAlign="space-between">

        <div class="profile-box info-box general" fxLayout="column" fxFlex.gt-xs="100" fxFlex.sm="100" fxFlex.lt-md="100"
            fxFlex.lt-lg="100" fxFlex.lt-xl="100" fxFlex.lt-md="100">

            <!-- <header class="accent">
                <div class="title">Personal Information</div>
            </header> -->

            <div class="content profile-content">

                <div class="info-line">
                    <div class="title">Name</div>
                    <div class="info">{{ userData?.firstName }} {{ userData?.lastName }}</div>
                </div>
                <div class="info-line">
                    <div class="title">Phone.</div>
                    <div class="info">
                        <span>{{ userData?.contactNumber }}</span>
                    </div>
                </div>
                <div class="info-line">
                    <div class="title">Email</div>
                    <div class="info">
                        <span>{{ loginData?.email }}</span>
                    </div>
                </div>
                <div class="info-line">
                    <div class="title">Address</div>
                    <div class="info">{{ userData?.fullAddress }}</div>
                </div>
                <div class="info-line">
                    <div class="title">Current Job Location</div>
                    <div class="info">{{ userData?.currentJobLocation }}</div>
                </div>
                <div class="info-line">
                    <div class="title">Preferred Job Location</div>
                    <div class="info">{{ userData?.preferredJobLocation }}</div>
                </div>
                <div class="info-line">
                    <div class="title">Birthday</div>
                    <div class="info">{{ userData?.dateOfBirth }}</div>
                </div>
                <div class="info-line">
                    <div class="title">Gender</div>
                    <div class="info text-capitalize">{{ userData?.gender }}</div>
                </div>
                <!-- <div class="info-line">
                    <div class="title">Locations</div>
                    <div class="info location" fxLayout="row" fxLayoutAlign="start center"
                         *ngFor="let location of about.general.locations">
                        <span>{{location}}</span>
                        <mat-icon class="s-16 ml-4">location_on</mat-icon>
                    </div>
                </div> -->

            </div>

        </div>

        <!-- <div class="profile-box info-box work" fxLayout="column" fxFlex.gt-xs="100" fxFlex.sm="100" fxFlex.lt-md="49"
            fxFlex.lt-lg="49" fxFlex.lt-xl="49" fxFlex.lt-md="100">

            <header class="accent">
                <div class="title">Career Objective</div>
            </header>
            <div class="content">
                <div class="info-line">
                    <div class="title">About Me</div>
                    <div class="info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus accumsan, quam sed eleifend
                        imperdiet.
                    </div>
                </div>
            </div>
        </div>

        <div class="profile-box info-box contact" fxLayout="column" fxFlex.gt-xs="100" fxFlex.sm="100" fxFlex.lt-md="49"
            fxFlex.lt-lg="49" fxFlex.lt-xl="49" fxFlex.lt-md="100">

            <header class="accent">
                <div class="title">Work Experience</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">Jobs</div>
                    <table class="info jobs">
                        <tr class="job">
                            <td class="company">Designation</td>
                            <td class="company">Company</td>
                            <td class="date">Location</td>
                            <td class="date">Joining</td>
                            <td class="date">Leaving</td>
                        </tr>
                        <tr class="job">
                            <td class="company">Designation</td>
                            <td class="company">Company</td>
                            <td class="date">Location</td>
                            <td class="date">Joining</td>
                            <td class="date">Leaving</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

        <div class="profile-box info-box contact" fxLayout="column" fxFlex.gt-xs="100" fxFlex.sm="100" fxFlex.lt-md="49"
            fxFlex.lt-lg="49" fxFlex.lt-xl="49" fxFlex.lt-md="100">

            <header class="accent">
                <div class="title">Education details</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">Educations</div>
                    <table class="info jobs">
                        <tr class="job">
                            <td class="company">College</td>
                            <td class="company">Institute</td>
                            <td class="date">Course</td>
                            <td class="date">Year</td>
                        </tr>
                        <tr class="job">
                            <td class="company">College</td>
                            <td class="company">Institute</td>
                            <td class="date">Course</td>
                            <td class="date">Year</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

        <div class="profile-box info-box contact" fxLayout="column" fxFlex.gt-xs="100" fxFlex.sm="100" fxFlex.lt-md="49"
            fxFlex.lt-lg="49" fxFlex.lt-xl="49" fxFlex.lt-md="100">

            <header class="accent">
                <div class="title">Expertise</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">Lorem ipsum</div>
                    <div class="title">Lorem ipsum</div>
                    <div class="title">Lorem ipsum</div>
                    <div class="title">Lorem ipsum</div>
                </div>
            </div>

        </div>

        <div class="profile-box info-box contact" fxLayout="column" fxFlex.gt-xs="100" fxFlex.sm="100" fxFlex.lt-md="49"
            fxFlex.lt-lg="49" fxFlex.lt-xl="49" fxFlex.lt-md="100">

            <header class="accent">
                <div class="title">Additional Information</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">Language</div>
                    <div class="info">Lorem ipsum</div>
                </div>
                <div class="info-line">
                    <div class="title">Certificates</div>
                    <div class="info">Lorem ipsum</div>
                </div>
            </div>

        </div> -->

    </div>

</div>