<div id="templates" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    folder_open
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Upload Template
                </span>
            </div>
            <!-- / APP TITLE -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <div class="content">

                <div fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-md="100" fusePerfectScrollbar>

                    <div class="tab-content pl-12">

                        <form class="template-form" fxLayout="row wrap" [formGroup]="uploadTemplateForm"
                            fxLayoutGap="25px" (ngSubmit)="onSubmit()" novalidate>

                            <div floatLabel="always" class="mb-16 pl-4" fxFlex="100">
                                <input type="file" #file hidden accept="image/*"
                                    (change)="getFileData($event.target.files)" formControlName="templateImage">
                                <button class="upload-btn" type="button" mat-icon-button (click)="file.click()">
                                    <mat-icon>cloud_upload</mat-icon> &nbsp;Upload Template
                                </button>
                                <p class="accent upload-span border-radius-16 p-8" *ngIf="templateFileName">
                                    {{templateFileName}}</p>
                                <mat-error *ngIf="uploadTemplateForm.touched && !templateFileName && uploadTemplateForm.get('templateImage').hasError('required')">
                                    Please select template image
                                </mat-error>
                            </div>

                            <mat-form-field floatLabel="always" fxFlex="100" appearance="outline">
                                <mat-label>Title</mat-label>
                                <input matInput placeholder="Enter Template Title" type="text" name="templateTitle"
                                    formControlName="title" autocomplete="off" required>
                                <mat-error *ngIf="uploadTemplateForm.get('title').hasError('required')">
                                    Please enter template title
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field floatLabel="always" fxFlex="100" appearance="outline">
                                <mat-label>Description</mat-label>
                                <textarea matInput placeholder="Enter Template Description" name="templateDescription"
                                    formControlName="description" autocomplete="off" required></textarea>
                                <mat-error *ngIf="uploadTemplateForm.get('description').hasError('required')">
                                    Please enter template description
                                </mat-error>
                            </mat-form-field>

                            <div fxFlex="100">
                                <mat-label class="ml-12"><strong>Template html</strong></mat-label>
                                <ng-container *ngTemplateOutlet="editor"></ng-container>
                                <ng-template #editor>
                                    <editor [id]="'careerTextArea'" autofocus class="tiny-editor"
                                        formControlName="templateHtml" [init]="tinyEditorConfig"
                                        placeholder="Template html" tagName="textarea">
                                    </editor>
                                </ng-template>
                                <mat-error *ngIf="uploadTemplateForm.touched && uploadTemplateForm.get('templateHtml').hasError('required')">
                                    Please fill in template html content
                                </mat-error>
                            </div>

                            <div class="pt-12 pl-8 pb-4">
                                <button type="button" class="stepper-next ml-12" color="primary" mat-raised-button
                                    (click)="goToListing()">Back</button> &nbsp;
                                <button type="submit" class="stepper-back" mat-raised-button 
                                    [disabled]="uploadTemplateForm.invalid || isLoading">Submit
                                </button>
                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>