<div id="resumebuilder" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" hidden>

                    <div class="subtitle secondary-text" hidden>
                        <span>
                            {{ 'NAV.RESUME' | translate }}
                        </span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <!-- <button mat-raised-button type="button" (click)="formSubmit()" class="save-product-button">
                <span>SAVE</span>
            </button> -->
            <div class="top-button">
                <button mat-mini-fab type="button" matTooltip="Preview" [matTooltipPosition]="'above'" (click)="templatePreview()" class="save-product-button">
                    <mat-icon>remove_red_eye</mat-icon>
                </button>
                <button *ngIf="allowDownload || resumeEditData" mat-mini-fab type="button" matTooltip="Download" [matTooltipPosition]="'above'" class="save-product-button" (click)="saveAsPdf(pdf)">
                    <mat-icon>picture_as_pdf</mat-icon>
                </button>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <div fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-md="50" fusePerfectScrollbar>

                    <mat-vertical-stepper [linear]="isLinear" #stepper fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-md="100" fusePerfectScrollbar [selectedIndex]="selectedIndex" (selectionChange)="stepChange($event)">

                        <mat-step [stepControl]="basicDetailForm">

                            <div class="tab-content px-12">
                                <form name="resume" [formGroup]="basicDetailForm" (ngSubmit)="formSubmit()">
                                    <ng-template matStepLabel>Personal Info</ng-template>

                                    <div class="w-100-p upload-class">
                                        <input type="file" #file hidden accept="image/*" (change)="getFileData($event.target.files)">
                                        <button class="upload-btn" type="button" mat-icon-button (click)="file.click()">
                                            <mat-icon>cloud_upload</mat-icon> Upload Profile Image
                                        </button>
                                        <p class="accent upload-span border-radius-8 p-4" *ngIf="profileFileName">
                                            {{profileFileName}}</p>
                                    </div>

                                    <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>First Name</mat-label>
                                        <input matInput placeholder="First Name" type="text" name="firstName" formControlName="firstName" autocomplete="off" required>
                                        <mat-error *ngIf="basicDetailForm.get('firstName').hasError('required')">
                                            First name is required
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput placeholder="Last Name" type="text" name="lastName" formControlName="lastName" autocomplete="off" required>
                                        <mat-error *ngIf="basicDetailForm.get('lastName').hasError('required')">
                                            Last name is required
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>Contact Number</mat-label>
                                        <input matInput placeholder="Contact Number" name="contactNumber" formControlName="contactNumber" autocomplete="off" maxlength="10" (keypress)=_keyPress($event) required>
                                        <mat-error *ngIf="basicDetailForm.get('contactNumber').hasError('required')">
                                            Contact number is required
                                        </mat-error>
                                        <mat-error *ngIf="basicDetailForm.get('contactNumber').hasError('pattern')">
                                            Please enter valid contact number
                                        </mat-error>
                                    </mat-form-field>

                                    <!-- <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>Email</mat-label>
                                        <input matInput placeholder="Email" type="email" name="Email"
                                            formControlName="email" autocomplete="off" required>
                                        <mat-error *ngIf="basicDetailForm.get('email').hasError('required')">
                                            Email is required
                                        </mat-error>
                                        <mat-error *ngIf="basicDetailForm.get('email').hasError('email')">
                                            Enter valid email
                                        </mat-error>
                                    </mat-form-field> -->

                                    <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>Full Address</mat-label>
                                        <textarea matInput placeholder="Full Address" name="FullAddress" formControlName="fullAddress" autocomplete="off" required>
                                        </textarea>
                                        <mat-error *ngIf="basicDetailForm.get('fullAddress').hasError('required')">
                                            Full address is required
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>Designation</mat-label>
                                        <input matInput placeholder="Designation" type="text" name="designation" formControlName="designation" autocomplete="off" required>
                                        <mat-error *ngIf="basicDetailForm.get('designation').hasError('required')">
                                            Designation is required
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>D.O.B</mat-label>
                                        <input matInput [matDatepicker]="picker" name="DOB" [max]="maxDate" formControlName="dateOfBirth" autocomplete="off" (click)="handlePicker($event, picker)" (keydown)="handlePicker($event, picker, true)">
                                        <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker disabled="false"></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>Place Of Birth</mat-label>
                                        <input matInput placeholder="Place Of Birth" type="text" name="PlaceOfBirth" formControlName="placeOfBirth" autocomplete="off">
                                    </mat-form-field>

                                    <div class="w-100-p">
                                        <mat-label class="example-radio-group-label">Marital Status: </mat-label>
                                        <mat-radio-group aria-labelledby="example-radio-group-label"
                                            class="form-radio-group" formControlName="maritalStatus">
                                            <mat-radio-button class="form-radio-button"
                                                *ngFor="let status of maritalStatusOpts" [value]="status.value">
                                                {{status.viewValue}}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>

                                    <div class="w-100-p">
                                        <mat-label class="example-radio-group-label">
                                            Gender:
                                        </mat-label>
                                        <mat-radio-group aria-labelledby="example-radio-group-label" class="form-radio-group" formControlName="gender">
                                            <mat-radio-button class="form-radio-button" *ngFor="let status of genderOptions" [value]="status.value">
                                                {{status.viewValue}}&nbsp;
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>

                                    <div class="mb-12 mt-12" *ngIf="socialLinkArray.length < maxSocialLinks">
                                        <button mat-button type="button" (click)="addSocialLink()">
                                            <mat-icon>add_comment</mat-icon> Add Social Links
                                        </button>
                                    </div>

                                    <div class="w-100-p" *ngFor="let social of socialLinkArray; let i = index">
                                        <mat-form-field floatLabel="always" class="w-45-p" appearance="outline">
                                            <mat-label>Website</mat-label>
                                            <mat-select placeholder="Select Website" [(value)]="social.website" required>
                                                <mat-option [value]="site" *ngFor="let site of socialSites">
                                                    <span class="text-capitalize">{{ site }}</span>
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        &nbsp;
                                        <mat-form-field floatLabel="always" class="w-45-p" appearance="outline">
                                            <mat-label>Link</mat-label>
                                            <input matInput placeholder="Social Link" #linkUrl (change)="social.link = linkUrl.value" [(value)]="social.link" type="text" name="socialLink" [pattern]="urlPattern" autocomplete="off">
                                        </mat-form-field>
                                        <button mat-button type="button" class="red-400-fg social-del" (click)="removeSocialLink(i)" *ngIf="socialLinkArray.length > 1">
                                            <mat-icon>delete</mat-icon>
                                        </button>

                                    </div>
                                    <div class="pt-12">
                                        <button type="submit" class="stepper-next ml-12" color="accent"
                                            mat-raised-button>Next</button>
                                    </div>

                                </form>
                            </div>

                        </mat-step>

                        <mat-step [stepControl]="careerObjForm">
                            <ng-template matStepLabel>Career Objective</ng-template>

                            <div class="tab-content" *ngIf="selectedIndex == 1">
                                <form fxLayout="row wrap" fxLayoutAlign="start start" name="resume" [formGroup]="careerObjForm" (ngSubmit)="formSubmit()">

                                    <div class="w-100-p p-8">
                                        <ng-container *ngTemplateOutlet="editor"></ng-container>
                                        <ng-template matTabContent #editor>
                                            <editor [id]="'careerTextArea'" autofocus class="tiny-editor" [init]="tinyEditorConfig" placeholder="Career objective" [formControlName]="'careerObjective'" tagName="textarea">
                                            </editor>
                                            <mat-error *ngIf="careerObjForm.get('careerObjective').touched && 
                                                careerObjForm.get('careerObjective').value == '' ">
                                                Please fill in career objective
                                            </mat-error>
                                        </ng-template>

                                        <div class="p-8">
                                            <button type="button" class="stepper-back" mat-raised-button
                                                matStepperPrevious>Back</button>
                                            <button type="submit" class="stepper-next ml-12" color="accent"
                                                mat-raised-button>Next</button>
                                        </div>
                                    </div>

                                </form>
                            </div>

                        </mat-step>

                        <mat-step [stepControl]="workForm">

                            <div class="tab-content">
                                <form fxLayout="row wrap" #workForm="ngForm" fxLayoutAlign="start start"
                                    name="WorkForm" (ngSubmit)="formSubmit()">
                                    <ng-template matStepLabel>
                                        Work Experience
                                        <!-- <button mat-icon-button hidden>
                                            <mat-icon>edit</mat-icon>
                                        </button> -->
                                    </ng-template>

                                    <div class="w-100-p">

                                        <div class="skill-content p-8" fxLayout="row" fxLayoutAlign="start end">
                                            <div class="p-8" fxFlex="100%" fxFlex.gt-xs="50%" *ngFor="let data of workExperienceData; let index = index;">
                                                <div class="work-content mat-elevation-z2 border">
                                                    <div class="w-100-p">
                                                        <button type="button" mat-icon-button matTooltip="Delete"
                                                            [matTooltipPosition]="'above'"
                                                            class="action-buttons red-400-fg"
                                                            (click)="deleteWorkExperience(index, 'work')">
                                                            <mat-icon>delete</mat-icon>
                                                        </button>
                                                        &nbsp;
                                                        <button type="button" mat-icon-button matTooltip="Edit"
                                                            [matTooltipPosition]="'above'"
                                                            class="action-buttons grey-500-fg"
                                                            (click)="editWorkExperience(index, 'work')">
                                                            <mat-icon>edit</mat-icon>
                                                        </button>
                                                    </div>
                                                    <div class="w-100-p description">
                                                        <span class="work-index">{{index+1}}</span>
                                                        <span class="work-desc">
                                                            <p>{{ data.designation }}</p>
                                                            <p>{{ data.companyName }}</p>
                                                            <p>{{ data.location }}</p>
                                                            <p>{{data.joiningDate | date: 'LLLL yyyy'}} -
                                                                {{data.leavingDate | date: 'LLLL yyyy'}}</p>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="skill-content px-16">
                                            <button mat-button type="button" class="add-button" (click)="openWorkDialog()">
                                                <mat-icon>add_to_photos</mat-icon> Add Position
                                            </button>
                                        </div>

                                    </div>

                                    <div class="p-16">
                                        <button type="button" class="stepper-back" mat-raised-button
                                            matStepperPrevious>Back</button>
                                        <button type="submit" class="stepper-next ml-12" color="accent"
                                            mat-raised-button>Next</button>
                                    </div>

                                </form>
                            </div>

                        </mat-step>

                        <mat-step>

                            <div class="tab-content">

                                <form fxLayout="row wrap" fxLayoutAlign="start start" name="resume" (ngSubmit)="formSubmit()">
                                    <ng-template matStepLabel>Education Summary</ng-template>
                                    <div class="w-100-p">

                                        <div class="skill-content p-8" fxLayout="row" fxLayoutAlign="start end">
                                            <div class="p-8" fxFlex="100%" fxFlex.gt-xs="50%" *ngFor="let data of educationData; let index = index;">
                                                <div class="work-content mat-elevation-z2 border">
                                                <div class="w-100-p">
                                                    <button type="button" mat-icon-button matTooltip="Delete"
                                                        [matTooltipPosition]="'above'" class="action-buttons red-400-fg"
                                                        (click)="deleteWorkExperience(index, 'education')">
                                                        <mat-icon>delete</mat-icon>
                                                    </button>
                                                    &nbsp;
                                                    <button type="button" mat-icon-button matTooltip="Edit"
                                                        [matTooltipPosition]="'above'"
                                                        class="action-buttons grey-500-fg"
                                                        (click)="editWorkExperience(index, 'education')">
                                                        <mat-icon>edit</mat-icon>
                                                    </button>
                                                    </div>
                                                    <div class="w-100-p description">
                                                        <span class="work-index">{{index+1}}</span>
                                                        <span class="work-desc">
                                                        <p>{{ data.courseName }}</p>
                                                        <p>{{ data.collegeName }}</p>
                                                        <p>{{ data.universityName }} ,
                                                            {{ data.yearOfPassing | date: 'yyyy' }}</p>
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="skill-content px-16">
                                            <button type="button" mat-button class="add-button" (click)="openAddEducationModal()">
                                                <mat-icon>add_to_photos</mat-icon> Add Degree
                                            </button>
                                        </div>
                                    </div>
                                    <div class="p-16">
                                        <button type="button" class="stepper-back" mat-raised-button
                                            matStepperPrevious>Back</button>
                                        <button type="submit" class="stepper-next ml-12" color="accent"
                                            mat-raised-button>Next</button>
                                    </div>
                                </form>

                            </div>

                        </mat-step>

                        <mat-step [stepControl]="skillForm">

                            <form class="tab-content pt-8 pl-12" [formGroup]="skillForm" fxLayout="row wrap"
                                fxLayoutGap="25px" (ngSubmit)="formSubmit()">
                                <ng-template matStepLabel>Areas of Expertise</ng-template>

                                <mat-form-field floatLabel="always" fxFlex.xs="calc(100%-25px)" fxFlex="calc(50%-25px)">
                                    <mat-label> Choose your selection for adding skills</mat-label>
                                    <mat-select formControlName="skillType" placeholder="Select" required>
                                        <mat-option [value]="skills.value" *ngFor="let skills of skillOptions">
                                            {{ skills.viewValue }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="skillForm.get('skillType').hasError('required')">
                                        Skills are required
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field floatLabel="always" fxFlex.xs="calc(100%-25px)" fxFlex="calc(50%-25px)" *ngIf=" skillForm.get('skillType').value == 'basicWithRating' ">
                                    <mat-label> Choose your selection for adding skills</mat-label>
                                    <mat-select [(ngModel)]="ratingStyle" placeholder="Select" [ngModelOptions]="{standalone: true}" required>
                                        <mat-option [value]="skills.value" *ngFor="let skills of ratingThemeList">
                                            {{ skills.viewValue }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <div fxFlex="50" *ngIf=" skillForm.get('skillType').value == 'basicStyled' ">
                                    <span class="mt-16 mb-8">Font Color: </span>
                                    <fuse-material-color-picker class="mb-16" [color]="defaultColor" (colorChanged)="fontColor =  $event.bg">
                                    </fuse-material-color-picker>
                                    &nbsp;
                                    <span class="mt-16 mb-8">Back Color: </span>
                                    <fuse-material-color-picker class="mb-16" [color]="defaultColor" (colorChanged)="backColor =  $event.bg">
                                    </fuse-material-color-picker>
                                </div>

                                <div fxFlex="100" *ngIf="skillForm.get('skillType').value ">
                                    <mat-form-field class="w-50-p">
                                        <input matInput [matChipInputFor]="skillList" placeholder="Add Skill.." [matChipInputAddOnBlur]="true" autocomplete="off" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addSkills($event)" formControlName="skillInput" />
                                    </mat-form-field>
                                    <mat-chip-list #skillList name="Skills" class="w-100-p">

                                        <ng-container *ngIf="skillForm.get('skillType').value != 'basicWithRating' ; else elseTemplate">
                                            <mat-chip tabindex="-1" *ngFor="let skills of skillRatingList; let index=index;" [removable]="true" (removed)="removeSkillItem(index)" [ngStyle]="{'color': fontColor , 
                                                    'background-color' : backColor}">
                                                {{skills.skillName}}
                                                <mat-icon matChipRemove [ngStyle]="{'color': fontColor }">cancel
                                                </mat-icon>
                                            </mat-chip>
                                        </ng-container>

                                        <ng-template #elseTemplate>

                                            <div class="w-100-p flex-display" *ngFor="let skills of skillRatingList; let index=index;">
                                                <mat-chip tabindex="-1" [removable]="true" (removed)="removeSkillItem(index)" [ngStyle]="{'color': fontColor , 
                                                    'background-color' : backColor}">
                                                    {{skills.skillName}}
                                                    <mat-icon matChipRemove [ngStyle]="{'color': fontColor }">cancel
                                                    </mat-icon>
                                                </mat-chip>

                                                <bar-rating [theme]="ratingStyle" (rateChange)="skills.ratings = rate.value" [(rate)]="skills.ratings" #rate [showText]="false" [max]="maxRate">
                                                </bar-rating>
                                                <button type="button" mat-icon-button class="refresh-icon"
                                                    (click)="skills.ratings = 0">
                                                    <mat-icon>refresh</mat-icon>
                                                </button>

                                            </div>

                                        </ng-template>

                                    </mat-chip-list>
                                </div>

                                <div class="pt-12 pl-8 pb-4">
                                    <button type="button" class="stepper-back" mat-raised-button
                                        matStepperPrevious>Back</button>
                                    <button type="button" color="accent"
                                        mat-raised-button class="ml-12" (click)="finishStep()">Finish</button>
                                    <!-- <button type="button" *ngIf="haveAdditionalInfo == true" class="stepper-next ml-12"
                                        color="accent" mat-raised-button matStepperNext>Next</button> -->
                                </div>
                            </form>

                        </mat-step>

                        <mat-step *ngIf="haveAdditionalInfo == true">
                            <ng-template matStepLabel>Other details</ng-template>
                            <div class="tab-content">

                                <div fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-md="100">

                                    <h3><strong>Additional</strong></h3>

                                    <div class="w-100-p additional" *ngFor="let add of additionalInfoList">
                                        <mat-checkbox [checked]="add.checked" (change)="addRemoveAdditional($event.checked, add.value)">
                                            {{add.value}}
                                        </mat-checkbox>
                                    </div>

                                </div>

                                <div fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-md="100">
                                    <div class="w-100-p additional" *ngFor="let add of additionalInfoData">
                                        <h3>{{ add.type }}
                                            <mat-icon (click)="editAdditional(add);">edit</mat-icon>
                                        </h3>
                                        <ng-container [ngSwitch]="add.type">
                                            <ng-container *ngSwitchCase="'Accomplishments'">
                                                <p [innerHTML]="add.value"></p>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'Affiliations'">
                                                <p [innerHTML]="add.value"></p>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'Certifications'">
                                                <ng-container *ngFor="let item of add.value">
                                                    <p>{{ item.date | date: 'yyyy' }}</p>
                                                    <p [innerHTML]="item.certificate"></p>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchDefault>
                                                <mat-chip-list #skillList name="Skills" class="w-100-p">
                                                    <mat-chip tabindex="-1" *ngFor="let data of add.value; let index=index;" [removable]="false">
                                                        {{data}}
                                                    </mat-chip>
                                                </mat-chip-list>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                </div>

                            </div>
                            <div class="pt-12 pl-8 pb-4">
                                <button type="button" class="stepper-back" mat-raised-button
                                    matStepperPrevious>Back</button>
                                <button type="button" class="ml-12" color="accent" mat-raised-button
                                    (click)="saveAdditionalInfo()">Finish</button>
                            </div>
                        </mat-step>

                    </mat-vertical-stepper>

                </div>

                <div class="template" id="save-template" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-md="50" fusePerfectScrollbar>
                    <kendo-pdf-export #pdf [imageResolution]="resolution">
                        <app-resume-template #templateRef [templateForm]="basicDetailForm.getRawValue()" [userEmail]="userEmail" [experienceData]="workExperienceData" [careerObjective]="careerObjForm.get('careerObjective').value" [educationData]="educationData" [skillData]="skillRatingList" [additionalInfo]="additionalInfoData"
                            [socialData]="socialLinkArray" [profileSrc]="profileSrc" [content]="MockTemplate" [fontColor]="fontColor" [backColor]="backColor">
                        </app-resume-template>
                    </kendo-pdf-export>
                    <!-- <div #container></div> -->
                </div>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>