// img{
//     width: 50px;
//     height: 50px;
//     border-radius: 30px;
// }


#resumebuilder {
    // font-size: 15px;

    .header {

        height: 90px !important;
        min-height: 90px !important;
        max-height: 90px!important;

        .profile-image {
            overflow: hidden;
            width: 56px;
            min-width: 56px;
            max-width: 56px;
            height: 56px;
            min-height: 56px;
            max-height: 56px;
            border-radius: 4px;

            img {
                height: 50px;
                width: 50px;
                width: auto;
                max-width: none;                
                border-radius: 30px;
            }
        }

        .subtitle {
            margin: 6px 0 0 0;
        }
    }

    .content {
        flex-wrap: wrap !important;
        // width: 50%;
        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content{
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 64px;
        }

        .profile-image {
            overflow: hidden;
            width: 128px;
            height: 128px;
            margin-right: 16px;
            margin-bottom: 16px;
            border-radius: 4px;

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        // Temporary prefix alignment fix
        .mat-form-field-appearance-outline .mat-form-field-prefix,
        .mat-form-field-appearance-outline .mat-form-field-suffix {
            top: 0;
        }
    }

}

.form-radio-group{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
.form-radio-button {
    margin: 5px;
    font-size: 14px !important;
}

/** Ck Editor Content sectio deep css */
.ck.ck-content{
    // border: 1px solid;
    border: 1px solid var(--ck-color-toolbar-border) !important;
    min-height: 300px !important;
}
/** Ck Editor Content sectio deep css */

.text-overflow {
    display: block;
    overflow: visible;
    /* text-overflow: clip; */
    white-space: pre-wrap;
    overflow-wrap: break-word;
    /* max-width: 450px; */
}

.boxed {
    border-radius: 2px;
    padding: 4px 8px;
    margin: 0 8px;
    font-size: 14px;
    font-weight: 600;
    // white-space: nowrap;
}
.skill-content {
    margin-top: 5px;
    .skill-box {
        width: 100% !important;
        display: flex !important;
    }
    .skill-text {
        padding: 10px !important;
        max-width: 70%;
        width: 70%;
    }
    .skill-text-button {
        width: 30%;
    }
}

.current-highlighter{
    border: 2px solid #4da3ff;
    background-color: rgba(76,163,255,0.15);
}
button {
    // color: #43a047 !important;
    text-transform: uppercase;
}