<div id="resumebuilder" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <div class="profile-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img [src]="profileSrc" (click)="fileInput.click()">
                    <input type="file" #fileInput accept="image/*" (change)="getFileData($event.target.files)"
                        style="display: none;">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">

                    <div class="subtitle secondary-text">
                        <span>
                            {{ 'NAV.RESUME' | translate }}
                        </span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <!-- <button mat-raised-button type="button" (click)="formSubmit()" class="save-product-button">
                <span>SAVE</span>
            </button> -->
            <div>
                <button mat-raised-button type="button" (click)="templatePreview()" class="save-product-button">
                    <mat-icon>remove_red_eye</mat-icon> {{'Preview' | uppercase}}
                </button> &nbsp;
                <button mat-raised-button type="button" class="save-product-button" (click)="saveAsPdf()">
                    <mat-icon>picture_as_pdf</mat-icon> {{'Download' | uppercase}}
                </button>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <div fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-md="50" fusePerfectScrollbar>
                    <!-- 
                    <mat-vertical-stepper [linear]="true" #stepper 
                        fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50"
                        fusePerfectScrollbar>
                        <mat-step [stepControl]="basicDetailForm">
                            <form [formGroup]="basicDetailForm">
                                <ng-template matStepLabel>Personal Info</ng-template>
                                
                                <div class="tab-content p-24">

                                    <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>First Name</mat-label>
                                        <input matInput placeholder="First Name" type="text" name="firstName"
                                            formControlName="firstName" autocomplete="off" required>
                                        <mat-error *ngIf="basicDetailForm.get('firstName').hasError('required')">
                                            First name is required
                                        </mat-error>
                                    </mat-form-field>
    
                                    <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput placeholder="Last Name" type="text" name="lastName"
                                            formControlName="lastName" autocomplete="off" required>
                                        <mat-error *ngIf="basicDetailForm.get('lastName').hasError('required')">
                                            Last name is required
                                        </mat-error>
                                    </mat-form-field>
    
                                    
    
                                    <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>Contact Number</mat-label>
                                        <input matInput placeholder="Contact Number" type="number" name="contactNumber"
                                            formControlName="contactNumber" autocomplete="off" required>
                                        <mat-error *ngIf="basicDetailForm.get('contactNumber').hasError('required')">
                                            Contact number is required
                                        </mat-error>
                                    </mat-form-field>
    
                                    <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>Email</mat-label>
                                        <input matInput placeholder="Email" type="email" name="Email"
                                            formControlName="email" autocomplete="off" required>
                                        <mat-error *ngIf="basicDetailForm.get('email').hasError('required')">
                                            Email is required
                                        </mat-error>
                                        <mat-error *ngIf="basicDetailForm.get('email').hasError('email')">
                                            Enter valid email
                                        </mat-error>
                                    </mat-form-field>
    
                                    <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>Full Address</mat-label>
                                        <textarea matInput placeholder="Full Address" name="FullAddress"
                                            formControlName="fullAddress" autocomplete="off" required>
                                        </textarea>
                                        <mat-error *ngIf="basicDetailForm.get('fullAddress').hasError('required')">
                                            Full address is required
                                        </mat-error>
                                    </mat-form-field>
    
                                    <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>D.O.B</mat-label>
                                        <input matInput [matDatepicker]="picker" name="DOB" [max]="maxDate"
                                            formControlName="dateOfBirth" autocomplete="off" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker disabled="false"></mat-datepicker>
                                        <mat-error *ngIf="basicDetailForm.get('dateOfBirth').hasError('required')">
                                            Date of birth is required
                                        </mat-error>
                                    </mat-form-field>
    
                                    <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>Place Of Birth</mat-label>
                                        <input matInput placeholder="Place Of Birth" type="text" name="PlaceOfBirth"
                                            formControlName="placeOfBirth" autocomplete="off" required>
                                        <mat-error *ngIf="basicDetailForm.get('placeOfBirth').hasError('required')">
                                            Place of birth is required
                                        </mat-error>
                                    </mat-form-field>
    
                                    <div class="w-100-p">
                                        <mat-label class="example-radio-group-label">Marital Status: 
                                            <ng-container *ngIf="basicDetailForm.get('maritalStatus').untouched || basicDetailForm.get('maritalStatus').valid; else elseTemplate">
                                                * 
                                            </ng-container>
                                            <ng-template #elseTemplate>
                                                <mat-error *ngIf="basicDetailForm.get('maritalStatus').touched && basicDetailForm.get('maritalStatus').hasError('required')">
                                                    *
                                                </mat-error>
                                            </ng-template>                                        
                                        </mat-label>
                                        <mat-radio-group aria-labelledby="example-radio-group-label"
                                            class="form-radio-group" formControlName="maritalStatus" required>
                                            <mat-radio-button class="form-radio-button" *ngFor="let status of maritalStatuOpts"
                                                [value]="status.value">
                                                {{status.viewValue}}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                        <mat-error *ngIf="basicDetailForm.get('maritalStatus').touched && basicDetailForm.get('maritalStatus').hasError('required')">
                                            Marital Status is required
                                        </mat-error>
                                    </div>
    
                                    <div class="w-100-p">
                                        <mat-label class="example-radio-group-label">
                                            Gender: 
                                            <ng-container *ngIf="basicDetailForm.get('maritalStatus').untouched || basicDetailForm.get('maritalStatus').valid; else elseTemplate">
                                            * 
                                            </ng-container>
                                            <ng-template #elseTemplate>
                                                <mat-error *ngIf="basicDetailForm.get('maritalStatus').touched && basicDetailForm.get('maritalStatus').hasError('required')">
                                                    *
                                                </mat-error>
                                            </ng-template>
                                        </mat-label>
                                        <mat-radio-group aria-labelledby="example-radio-group-label"
                                            class="form-radio-group" formControlName="gender" required>
                                            <mat-radio-button class="form-radio-button" *ngFor="let status of genderOptions"
                                                [value]="status.value">
                                                {{status.viewValue}}&nbsp;
                                            </mat-radio-button>
                                        </mat-radio-group>
                                        <mat-error *ngIf="basicDetailForm.get('gender').touched && basicDetailForm.get('gender').hasError('required')">
                                            Please select gender
                                        </mat-error>
                                    </div>
    
                                    <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>Linked In
                                        </mat-label>
                                        <input matInput placeholder="Paste your linked In URL" type="url" name="LinkedInUrl"
                                            formControlName="linkedInUrl" autocomplete="off">
                                        <mat-error *ngIf="basicDetailForm.get('linkedInUrl').hasError('pattern')">
                                            Please enter valid url
                                        </mat-error>
                                    </mat-form-field>
    
                                    <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>Twitter
                                        </mat-label>
                                        <input matInput placeholder="Paste your twitter URL" type="url" name="TwitterUrl"
                                            formControlName="twitterUrl" autocomplete="off">
                                        <mat-error *ngIf="basicDetailForm.get('twitterUrl').hasError('pattern')">
                                            Please enter valid url
                                        </mat-error>
                                    </mat-form-field>
                                    
                                </div>

                                <div>
                                    <button mat-button matStepperNext>Next</button>
                                </div>
                            </form>
                        </mat-step>
                        <mat-step>
                            <form>
                            <ng-template matStepLabel>Career Objective</ng-template>
                            
                            <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button matStepperNext>Next</button>
                            </div>
                            </form>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>Done</ng-template>
                            You are now done.
                            <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button (click)="stepper.reset()">Reset</button>
                            </div>
                        </mat-step>
                    </mat-vertical-stepper> -->

                    <mat-tab-group>

                        <mat-tab label="Personal Info">

                            <div class="tab-content p-24">
                                <form name="resume" [formGroup]="basicDetailForm">

                                    <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>First Name</mat-label>
                                        <input matInput placeholder="First Name" type="text" name="firstName"
                                            formControlName="firstName" autocomplete="off" required>
                                        <mat-error *ngIf="basicDetailForm.get('firstName').hasError('required')">
                                            First name is required
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput placeholder="Last Name" type="text" name="lastName"
                                            formControlName="lastName" autocomplete="off" required>
                                        <mat-error *ngIf="basicDetailForm.get('lastName').hasError('required')">
                                            Last name is required
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>Contact Number</mat-label>
                                        <input matInput placeholder="Contact Number" type="number" name="contactNumber"
                                            formControlName="contactNumber" autocomplete="off" required>
                                        <mat-error *ngIf="basicDetailForm.get('contactNumber').hasError('required')">
                                            Contact number is required
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>Email</mat-label>
                                        <input matInput placeholder="Email" type="email" name="Email"
                                            formControlName="email" autocomplete="off" required>
                                        <mat-error *ngIf="basicDetailForm.get('email').hasError('required')">
                                            Email is required
                                        </mat-error>
                                        <mat-error *ngIf="basicDetailForm.get('email').hasError('email')">
                                            Enter valid email
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>Full Address</mat-label>
                                        <textarea matInput placeholder="Full Address" name="FullAddress"
                                            formControlName="fullAddress" autocomplete="off" required>
                                        </textarea>
                                        <mat-error *ngIf="basicDetailForm.get('fullAddress').hasError('required')">
                                            Full address is required
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>D.O.B</mat-label>
                                        <input matInput [matDatepicker]="picker" name="DOB" [max]="maxDate"
                                            formControlName="dateOfBirth" autocomplete="off" (click)="picker.open()">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker disabled="false"></mat-datepicker>
                                        <!-- <mat-error *ngIf="basicDetailForm.get('dateOfBirth').hasError('required')">
                                            Date of birth is required
                                        </mat-error> -->
                                    </mat-form-field>

                                    <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>Place Of Birth</mat-label>
                                        <input matInput placeholder="Place Of Birth" type="text" name="PlaceOfBirth"
                                            formControlName="placeOfBirth" autocomplete="off">
                                        <!-- <mat-error *ngIf="basicDetailForm.get('placeOfBirth').hasError('required')">
                                            Place of birth is required
                                        </mat-error> -->
                                    </mat-form-field>

                                    <div class="w-100-p">
                                        <mat-label class="example-radio-group-label">Marital Status: </mat-label>
                                        <mat-radio-group aria-labelledby="example-radio-group-label"
                                            class="form-radio-group" formControlName="maritalStatus" required>
                                            <mat-radio-button class="form-radio-button"
                                                *ngFor="let status of maritalStatuOpts" [value]="status.value">
                                                {{status.viewValue}}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>

                                    <div class="w-100-p">
                                        <mat-label class="example-radio-group-label">
                                            Gender:
                                        </mat-label>
                                        <mat-radio-group aria-labelledby="example-radio-group-label"
                                            class="form-radio-group" formControlName="gender">
                                            <mat-radio-button class="form-radio-button"
                                                *ngFor="let status of genderOptions" [value]="status.value">
                                                {{status.viewValue}}&nbsp;
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>

                                    <!-- <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>Linked In
                                        </mat-label>
                                        <input matInput placeholder="Paste your linked In URL" type="url" name="LinkedInUrl"
                                            formControlName="linkedInUrl" autocomplete="off">
                                        <mat-error *ngIf="basicDetailForm.get('linkedInUrl').hasError('pattern')">
                                            Please enter valid url
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field floatLabel="always" class="w-100-p" appearance="outline">
                                        <mat-label>Twitter
                                        </mat-label>
                                        <input matInput placeholder="Paste your twitter URL" type="url" name="TwitterUrl"
                                            formControlName="twitterUrl" autocomplete="off">
                                        <mat-error *ngIf="basicDetailForm.get('twitterUrl').hasError('pattern')">
                                            Please enter valid url
                                        </mat-error>
                                    </mat-form-field> -->
                                </form>
                            </div>

                        </mat-tab>

                        <mat-tab label="Career Objective">

                            <div class="tab-content p-24">
                                <div fxLayout="row wrap" fxLayoutAlign="start start" name="resume"
                                    [formGroup]="careerObjForm">

                                    <div class="w-100-p">
                                        <ng-template matTabContent>
                                            <editor class="tiny-editor" placeholder="Career objective"
                                                formControlName="careerObjective" [init]="tinyEditorConfig"
                                                tagName="textarea">
                                            </editor>
                                        </ng-template>
                                        <!-- <mat-error *ngIf="careerObjForm.get('careerObjective').touched && careerObjForm.get('careerObjective').hasError('required')">
                                            Career objective is required
                                        </mat-error>                                       -->
                                    </div>

                                </div>
                            </div>

                        </mat-tab>

                        <mat-tab label="Work Experience">

                            <div class="tab-content p-24">
                                <form fxLayout="row wrap" #workForm="ngForm" fxLayoutAlign="start start"
                                    name="WorkForm">

                                    <div class="w-100-p">

                                        <div class="skill-content" fxLayout="row" fxLayoutAlign="start end"
                                            *ngFor="let data of workExperienceData; let index = index;">
                                            <div class="work-content mat-elevation-z2">
                                                <span class="work-index">{{index+1}}</span>
                                                <span class="work-desc">
                                                    {{ data.designation }} 
                                                    {{ data.companyName }}
                                                </span>
                                            </div>
                                        </div>

                                        <div class="skill-content" style='margin-top: 10px;'>
                                            <button mat-button class="add-button" (click)="openWorkDialog()">
                                                <mat-icon>add_to_photos</mat-icon> Add Position
                                            </button>
                                        </div>

                                        <!-- <mat-error *ngIf="workForm.get('professionalExperience').touched &&
                                            workForm.get('professionalExperience').hasError('required')">
                                            Work experience is required
                                        </mat-error> -->
                                    </div>

                                </form>
                            </div>

                        </mat-tab>

                        <mat-tab label="Education Summary">

                            <div class="tab-content p-24">

                                <form fxLayout="row wrap" fxLayoutAlign="start start" name="resume">

                                    <div class="w-100-p">
                                        <div class="skill-content" style='margin-top: 10px;'>
                                            <button mat-button class="add-button" (click)="openAddEducationModal()">
                                                <mat-icon>add_to_photos</mat-icon> Add Degree 
                                            </button>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </mat-tab>

                        <mat-tab label="Areas of Expertise">

                            <form class="tab-content p-24" [formGroup]="skillForm">

                                <mat-form-field floatLabel="always" class="w-50-p">
                                    <mat-label> Choose your selection for adding skills</mat-label>
                                    <mat-select formControlName="skillType" placeholder="Select"
                                        (selectionChange)="skillTypeSelecttion($event.value)" required>
                                        <mat-option [value]="skills.value" *ngFor="let skills of skillOptions">
                                            {{ skills.viewValue }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="skillForm.get('skillType').hasError('required')">
                                        Skills are required
                                    </mat-error>
                                </mat-form-field>

                                <div class="w-100-p" *ngIf="skillForm.get('skillType').value == 'basic' ">
                                    <ckeditor [editor]="Editor" [config]="skillconfig" (ready)="onReady($event)"
                                        [(ngModel)]="basicSkill" [ngModelOptions]="{standalone: true}"></ckeditor>
                                </div>
                                <div class="w-100-p" *ngIf="skillForm.get('skillType').value == 'withBox' ">
                                    <div class="w-100-p">
                                        <mat-form-field class="w-50-p">
                                            <input matInput #skillInput placeholder="Enter your skills"
                                                autocomplete="off" type="text" name="skills" autocomplete="off">
                                        </mat-form-field>
                                        <button mat-icon-button matTooltip="Add" [matTooltipPosition]="'above'"
                                            (click)="addSkill(skillInput)">
                                            <mat-icon>check</mat-icon>
                                        </button>
                                    </div>
                                    <div class="skill-content" fxLayout="row" fxLayoutAlign="start center"
                                        *ngFor="let skill of skillListBox; let index;">
                                        <span class="message-box text-overflow skill-text"
                                            style="max-width: 70%;">{{ skill.skillName }}</span>
                                        <button style="float: left;" mat-icon-button (click)="removeSkill(index)"
                                            matTooltip="Remove" [matTooltipPosition]="'above'">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="w-100-p" *ngIf="skillForm.get('skillType').value == 'withRating' ">
                                    <div class="w-100-p">
                                        <mat-form-field class="w-50-p">
                                            <input matInput #skillInputRate placeholder="Enter your skills"
                                                autocomplete="off" type="text" name="skills" autocomplete="off">
                                        </mat-form-field>
                                        <button mat-icon-button matTooltip="Add" [matTooltipPosition]="'above'"
                                            (click)="addSkill(skillInputRate, 'box-rating')">
                                            <mat-icon>check</mat-icon>
                                        </button>
                                        <mat-form-field floatLabel="always" class="w-20-p">
                                            <mat-label> Choose rating style</mat-label>
                                            <mat-select formControlName="ratingType" placeholder="Select"
                                                (selectionChange)="ratingStyle = $event.value">
                                                <mat-option [value]="theme.value" *ngFor="let theme of ratingThemeList">
                                                    {{ theme.viewValue }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="skill-content" fxLayout="row" fxLayoutAlign="start end"
                                        *ngFor="let skill of skillRatingList; let index;">
                                        <div class="skill-box">
                                            <span class="text-overflow skill-text">
                                                {{ skill.skillName }}
                                            </span>
                                        </div>
                                        <div class="skill-box">
                                            <bar-rating class="w-50-p" [theme]="ratingStyle"
                                                (rateChange)="skill.ratings = rate.value" [(rate)]="skill.ratings" #rate
                                                [showText]="false" [max]="maxRate"></bar-rating>
                                        </div>
                                        <div class="skill-box">
                                            <button class="skill-text-button" mat-icon-button
                                                (click)="removeSkill(index, 'box-rating')" matTooltip="Remove"
                                                [matTooltipPosition]="'above'">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </mat-tab>

                        <!--<mat-tab label="Other details">

                            <div class="tab-content p-24">

                                <mat-form-field floatLabel="always" class="w-100-p">

                                    <mat-label>Languages known</mat-label>

                                    <mat-chip-list #languageList name="Languages">

                                        <mat-chip *ngFor="let lang of selectedLanguages" [removable]="true"
                                            (removed)="removeLang(lang)">
                                            {{lang}}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>

                                        <input matInput [matChipInputFor]="languageList" [matChipInputAddOnBlur]="true"
                                            [matAutocomplete]="auto" (matChipInputTokenEnd)="addLang($event)"
                                            formControlName="languages" />

                                    </mat-chip-list>
                                    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption
                                        (optionSelected)="selected($event)">
                                        <mat-option *ngFor="let lang of filteredLanguages | async" [value]="lang">
                                            {{lang}}
                                        </mat-option>
                                    </mat-autocomplete>

                                </mat-form-field>

                                <mat-form-field floatLabel="always" class="w-100-p">
                                    <mat-label>References</mat-label>
                                    <textarea matInput placeholder="Add references" name="References"
                                        formControlName="references">
                                    </textarea>
                                </mat-form-field>

                            </div>

                        </mat-tab> -->

                    </mat-tab-group>

                </div>

                <div class="template" 
                    fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-md="50"
                    fusePerfectScrollbar>
                    <app-resume-template [templateForm]="basicDetailForm.getRawValue()"
                        [experienceData]="workExperienceData">
                    <!-- <app-resume-template #templateContent [templateForm]="basicDetailForm.getRawValue()"
                            [skillData]="basicDetailForm.get('skillType').value == 'withRating' ? skillRatingList :
                                ( basicDetailForm.get('skillType').value == 'withBox' ? skillListBox : basicSkill  )
                                ">-->
                    </app-resume-template> 
                </div>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
<!-- <ckeditor formControlName="careerObjective" #myckeditor [config]="ckeConfig"></ckeditor> -->