<div [innerHTML]="content" *ngIf="content;">
</div>
<div *ngIf="!content" style="margin: 0">
    <table cellspacing="0" cellpadding="0" style="font-family: sans-serif; width: 800px; margin: auto;color: #444444;">
        <tr>
            <td style="padding: 0 20px">
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                    <tr>
                        <td>
                            <h1 style="margin: 0 0 5px; font-size: 24px;font-weight: 500;color: #444444;">John Doe
                            </h1>
                            <h4 style="margin: 0 0 5px; font-size: 16px;font-weight: 500;color: #8c8c8cdd;">Lorem
                                Ipsum is simply dummy</h4>
                            <p style="margin: 0; font-size: 13px;color: #444444;">Lorem Ipsum is simply dummy text
                                of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height: 15px;"></td>
        </tr>
        <tr>
            <td style="background: #eaeaea;padding: 0 30px">
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                    <tr>
                        <td style="font-size: 12px; padding: 10px 10px;">
                            <div style="white-space: nowrap;">
                                <img style="width: 14px;display: inline-block;vertical-align: middle;"
                                    src="assets/icons/template-icons/envelope.svg" alt="">
                                <span
                                    style="margin-left: 3px;display: inline-block;vertical-align: middle;">abc@gmail.com</span>
                            </div>
                        </td>
                        <td style="font-size: 12px; padding: 10px 10px;">
                            <div style="white-space: nowrap;">
                                <img style="width: 14px;display: inline-block;vertical-align: middle;"
                                    src="assets/icons/template-icons/mobile.svg" alt="">
                                <span
                                    style="margin-left: 3px;display: inline-block;vertical-align: middle;">627-231-2548</span>
                            </div>
                        </td>
                        <td style="font-size: 12px; padding: 10px 10px;">
                            <div style="white-space: nowrap;">
                                <img style="width: 14px;display: inline-block;vertical-align: middle;"
                                    src="assets/icons/template-icons/location.svg" alt="">
                                <span style="margin-left: 3px;display: inline-block;vertical-align: middle;">New
                                    York,USA</span>
                            </div>
                        </td>
                        <td style="font-size: 12px; padding: 10px 10px;">
                            <div style="white-space: nowrap;">
                                <img style="width: 14px;display: inline-block;vertical-align: middle;"
                                    src="assets/icons/template-icons/linkedin.svg" alt="">
                                <span
                                    style="margin-left: 3px;display: inline-block;vertical-align: middle;">linkedin.com/in/john.doe</span>
                            </div>
                        </td>
                        <td style="font-size: 12px; padding: 10px 10px;">
                            <div style="white-space: nowrap;">
                                <img style="width: 14px;display: inline-block;vertical-align: middle;"
                                    src="assets/icons/template-icons/skype.svg" alt="">
                                <span
                                    style="margin-left: 3px;display: inline-block;vertical-align: middle;">john.doe</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height: 15px;"></td>
        </tr>
        <tr>
            <td style="padding: 0 20px">
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                    <tr>
                        <td style="font-size: 0;">
                            <h2 style="margin:0 0 5px; font-size: 16px; text-transform: uppercase">Skills &
                                Competences</h2>
                            <p style="margin: 5px 0;font-size: 12px; display: inline-block; width: 25%;">Lorem Ipsum
                            </p>
                            <p style="margin: 5px 0;font-size: 12px; display: inline-block; width: 25%;">Lorem Ipsum
                                is simply</p>
                            <p style="margin: 5px 0;font-size: 12px; display: inline-block; width: 25%;">Lorem Ipsum
                                is simply</p>
                            <p style="margin: 5px 0;font-size: 12px; display: inline-block; width: 25%;">Lorem Ipsum
                            </p>
                            <p style="margin: 5px 0;font-size: 12px; display: inline-block; width: 25%;">Lorem Ipsum
                            </p>
                            <p style="margin: 5px 0;font-size: 12px; display: inline-block; width: 25%;">Lorem Ipsum
                                is simply</p>
                            <p style="margin: 5px 0;font-size: 12px; display: inline-block; width: 25%;">Lorem Ipsum
                                is simply</p>
                            <p style="margin: 5px 0;font-size: 12px; display: inline-block; width: 25%;">Lorem Ipsum
                            </p>
                            <p style="margin: 5px 0;font-size: 12px; display: inline-block; width: 25%;">Lorem Ipsum
                            </p>
                            <p style="margin: 5px 0;font-size: 12px; display: inline-block; width: 25%;">Lorem Ipsum
                                is simply</p>
                            <p style="margin: 5px 0;font-size: 12px; display: inline-block; width: 25%;">Lorem Ipsum
                                is simply</p>
                            <p style="margin: 5px 0;font-size: 12px; display: inline-block; width: 25%;">Lorem Ipsum
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height: 25px;"></td>
        </tr>
        <tr>
            <td style="padding: 0 20px">
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                    <tr>
                        <td>
                            <h2 style="margin:0 0 5px; font-size: 16px; text-transform: uppercase">Work experience
                            </h2>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 0;">
                            <h3 style="margin:0; font-size: 14px;">Business Development Manager</h3>
                            <h4 style="margin:2px 0 0; font-size: 13px; color: #909090;">AirState Solutions <img
                                    style="width: 10px;margin-left: 5px;display: inline-block;vertical-align: middle;"
                                    src="assets/icons/template-icons/external-link.svg" alt=""></h4>
                            <div style="margin: 7px 0 5px;">
                                <p
                                    style="display:inline-block;width: 50%;margin:0;font-style: italic;font-size: 10px;color: #909090;">
                                    09/2015 - 10/2018</p>
                                <p
                                    style="display:inline-block;width: 50%;margin:0;font-style: italic;font-size: 10px;color: #909090;text-align: right;">
                                    New York, USA</p>
                            </div>
                            <div>
                                <p
                                    style="display:inline-block;width: 50%;margin:0;font-style: italic;font-size: 10px;color: #909090;">
                                    Archivments</p>
                            </div>
                            <ul style="padding: 0 0 0 15px;margin: 5px 0 0;">
                                <li style="font-size: 12px; margin-bottom: 5px;">Lorem Ipsum is simply dummy text of
                                    the printing and typesetting industry.<img
                                        style="width: 10px;margin-left: 5px;display: inline-block;vertical-align: middle;"
                                        src="assets/icons/template-icons/external-link.svg" alt=""></li>
                                <li style="font-size: 12px;margin-bottom: 5px;">Lorem Ipsum is simply dummy text of
                                    the printing and typesetting industry. Lorem Ipsum has been the industry's
                                    standard dummy text ever since the 1500s</li>
                                <li style="font-size: 12px;margin-bottom: 5px;">Lorem Ipsum is simply dummy text of
                                    the printing and typesetting industry. Lorem Ipsum has been the industry's
                                    standard dummy text ever since the 1500s</li>
                                <li style="font-size: 12px;margin-bottom: 5px;">Lorem Ipsum is simply dummy text of
                                    the printing and typesetting industry. Lorem Ipsum has been the industry's
                                    standard dummy text ever since the 1500s</li>
                            </ul>
                            <p style="margin: 10px 0 0;font-style: italic;font-size: 11px;"><span
                                    style="color: #909090;">Contact</span> Macheli Halper - acb@gmail.com</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 15px;"></td>
                    </tr>
                    <tr>
                        <td style="font-size: 0;">
                            <h3 style="margin:0; font-size: 14px;">Business Development Assistant</h3>
                            <h4 style="margin:2px 0 0; font-size: 13px; color: #909090;">AirState Solutions <img
                                    style="width: 10px;margin-left: 5px;display: inline-block;vertical-align: middle;"
                                    src="assets/icons/template-icons/external-link.svg" alt=""></h4>
                            <div style="margin: 7px 0 5px;">
                                <p
                                    style="display:inline-block;width: 50%;margin:0;font-style: italic;font-size: 10px;color: #909090;">
                                    09/2015 - 10/2018</p>
                                <p
                                    style="display:inline-block;width: 50%;margin:0;font-style: italic;font-size: 10px;color: #909090;text-align: right;">
                                    Chicago, USA</p>
                            </div>
                            <div>
                                <p
                                    style="display:inline-block;width: 50%;margin:0;font-style: italic;font-size: 10px;color: #909090;">
                                    Archivments/Tasks</p>
                            </div>
                            <ul style="padding: 0 0 0 15px;margin: 5px 0 0;">
                                <li style="font-size: 12px; margin-bottom: 5px;">Lorem Ipsum is simply dummy text of
                                    the printing and typesetting industry. Lorem Ipsum has been the industry's<img
                                        style="width: 10px;margin-left: 5px;display: inline-block;vertical-align: middle;"
                                        src="assets/icons/template-icons/external-link.svg" alt=""></li>
                                <li style="font-size: 12px;margin-bottom: 5px;">Lorem Ipsum is simply dummy text of
                                    the printing and typesetting industry. Lorem Ipsum has been the industry's
                                    standard dummy text ever since the 1500s</li>
                                <li style="font-size: 12px;margin-bottom: 5px;">Lorem Ipsum is simply dummy text of
                                    the printing and typesetting industry. Lorem Ipsum has been the industry's
                                    standard dummy text ever since the 1500s</li>
                                <li style="font-size: 12px;margin-bottom: 5px;">Lorem Ipsum is simply dummy text of
                                    the printing and typesetting industry. Lorem Ipsum has been the industry's
                                    standard dummy text ever since the 1500s</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height: 20px;"></td>
        </tr>
        <tr>
            <td style="padding: 0 20px">
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                    <tr>
                        <td>
                            <h2 style="margin:0 0 5px; font-size: 16px; text-transform: uppercase">Honour awards
                            </h2>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%;padding-right: 15px;vertical-align: top;">
                            <h3 style="margin:0; font-size: 12px;">Lorem Ipsum is simply dummy text of the printing
                                and typesetting</h3>
                            <p style="display:inline-block;margin:0;font-style: italic;font-size: 10px;color: #909090;">
                                Chicago, USA</p>
                        </td>
                        <td style="width: 50%;padding-left: 15px;vertical-align: top;">
                            <h3 style="margin:0; font-size: 12px;">Lorem Ipsum is simply dummy text of the printing
                                and typesetting</h3>
                            <p style="display:inline-block;margin:0;font-style: italic;font-size: 10px;color: #909090;">
                                Chicago, USA</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height: 20px;"></td>
        </tr>
        <tr>
            <td style="padding: 0 20px">
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                    <tr>
                        <td>
                            <h2 style="margin:0 0 5px; font-size: 16px; text-transform: uppercase">Courses &
                                conferances</h2>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%;padding-right: 15px;vertical-align: top;">
                            <h3 style="margin:0; font-size: 12px;">Lorem Ipsum is simply dummy text of the printing
                                and typesetting</h3>
                            <p style="display:inline-block;margin:0;font-style: italic;font-size: 10px;color: #909090;">
                                Chicago, USA</p>
                            <ul style="padding: 0 0 0 15px;margin: 5px 0 0;">
                                <li style="font-size: 10px;margin-bottom: 5px;">Lorem Ipsum is simply dummy text of
                                    the printing and typesetting industry. Lorem Ipsum</li>
                            </ul>
                        </td>
                        <td style="width: 50%;padding-left: 15px;vertical-align: top;">
                            <h3 style="margin:0; font-size: 12px;">Lorem Ipsum is simply dummy text of the printing
                                and typesetting <img
                                    style="width: 10px;margin-left: 5px;display: inline-block;vertical-align: middle;"
                                    src="assets/icons/template-icons/external-link.svg" alt=""></h3>
                            <p style="display:inline-block;margin:0;font-style: italic;font-size: 10px;color: #909090;">
                                Chicago, USA</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 15px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 50%;padding-right: 15px;vertical-align: top;">
                            <h3 style="margin:0; font-size: 12px;">Lorem Ipsum is simply dummy text of the printing
                                and typesetting</h3>
                            <p style="display:inline-block;margin:0;font-style: italic;font-size: 10px;color: #909090;">
                                Chicago, USA</p>
                            <ul style="padding: 0 0 0 15px;margin: 5px 0 0;">
                                <li style="font-size: 10px;margin-bottom: 5px;">Lorem Ipsum is simply dummy text of
                                    the printing and typesetting industry. Lorem Ipsum</li>
                            </ul>
                        </td>
                        <td style="width: 50%;padding-left: 15px;vertical-align: top;">
                            <h3 style="margin:0; font-size: 12px;">Lorem Ipsum is simply dummy text of the printing
                                and typesetting <img
                                    style="width: 10px;margin-left: 5px;display: inline-block;vertical-align: middle;"
                                    src="assets/icons/template-icons/external-link.svg" alt=""></h3>
                            <p style="display:inline-block;margin:0;font-style: italic;font-size: 10px;color: #909090;">
                                Chicago, USA</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>