<div id="profile" class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between end">

        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
            <div class="profile-imgBox">
                <div class="edit-box">
                    <mat-icon (click)="fileSelect.click()">edit</mat-icon>
                    <input #fileSelect type="file" (change)="getFile($event.target.files)">
                </div>
                <img class="profile-image avatar huge m-0" *ngIf="!defaultProfileImage" src="assets/images/logos/profile.jpg" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                <img class="profile-image avatar huge m-0" *ngIf="defaultProfileImage" [src]="imageBaseUrl + defaultProfileImage" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            </div>

            <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                {{ userData?.firstName }} {{ userData?.lastName }}
            </div>
        </div>

        <!-- <div class="actions" fxLayout="row" fxLayoutAlign="end " [@animate]="{value:'*',params:{delay:'200ms'}}">
            <button mat-raised-button color="primary" *ngIf="!isEdited" (click)="isEdited = !isEdited">
                Edit Image
            </button>
            <div *ngIf="isEdited">
                <button mat-raised-button color="primary" (click)="fileSelect.click()">
                   <mat-icon>cloud_upload</mat-icon> Upload
                </button>
                <input #fileSelect type="file" (change)="getFile($event.target.files)" hidden>
                <span *ngIf="profileImgName">{{profileImgName}}</span>
                <button mat-raised-button color="accent" (click)="uploadImage()">
                    <mat-icon>save</mat-icon> Save
                </button>
            </div>
        </div> -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true">

            <!-- <mat-tab label="Timeline">
                <profile-timeline></profile-timeline>
            </mat-tab> -->

            <mat-tab label="About">
                <profile-about [userData]="userData" [loginData]="loginData"></profile-about>
            </mat-tab>

            <!-- <mat-tab label="Photos & Videos">
                <profile-photos-videos></profile-photos-videos>
            </mat-tab> -->

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>