<div id="content-mgmt" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-30 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    folder_open
                </mat-icon>
                <span class="logo-text h3" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Landing Page Content Management
                </span>
            </div>
            <!-- / APP TITLE -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <div class="content">

                <div fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-md="100" fusePerfectScrollbar>

                    <div class="tab-content pl-12 h-100-p">

                        <form class="template-form ml-12 mt-16" fxLayout="row wrap" fxLayoutGap="25px"
                            (ngSubmit)="onSubmit()" novalidate>

                            <div floatLabel="always" class="mb-16 pl-4 upload-div" fxFlex="100">
                                <input type="file" #file hidden accept="image/*"
                                    (change)="getFileData($event.target.files)" multiple>
                                <button class="upload-btn ml-4" type="button" mat-icon-button (click)="file.click()">
                                    <mat-icon>cloud_upload</mat-icon> &nbsp;Upload Landing Images
                                </button>
                            </div>

                            <div floatLabel="always" class="mb-16 pl-4" fxFlex="100" *ngFor="let img of imageArray; let index=index;">
                                <span class="accent upload-span border-radius-16 p-8 w-50-p">
                                    {{img.name}}
                                </span>
                                <button type="button" class="remove-btn" mat-icon-button (click)="removeImage(index)">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </div>

                            <div fxFlex="100">
                                <mat-label class="ml-12"><strong>About Us Content</strong></mat-label>
                                <ng-container *ngTemplateOutlet="editor"></ng-container>
                                <ng-template #editor>
                                    <editor autofocus class="tiny-editor"
                                        [formControl]="aboutUsEditor" [init]="tinyEditorConfig"
                                        placeholder="Template html" tagName="textarea">
                                    </editor>
                                </ng-template>
                                <mat-error
                                    *ngIf="aboutUsEditor.touched && aboutUsEditor.hasError('required')">
                                    Please enter About Us content
                                </mat-error>
                            </div>

                            <div class="pt-12 pl-8 pb-4">
                                <button type="submit" class="stepper-back" color="primary" mat-raised-button
                                    [disabled]="isLoading || aboutUsEditor.invalid">
                                    <img class="loading" *ngIf="isLoading" src="assets/images/background/loader.gif">
                                    Submit
                                </button>
                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>