<h1 mat-dialog-title>
  Job details
  <button mat-icon-button matTooltip="Close" [matTooltipPosition]="'above'" (click)="dialogRef.close()"
    class="dialog-close-btn">
    <mat-icon>close</mat-icon>
  </button>
</h1>
<div mat-dialog-content fxLayout="row wrap">

  <div>

    <p class="w-100-p font-size-18 font-weight-900">Software Developer / Sr. Software Engineer</p>
    <span class="w-100-p font-weight-600">Sixth Energy Technologies Pvt Ltd</span>
    <p class="w-100-p font-size-12 ">
      <mat-icon class="detail-icon">work</mat-icon> 2 - 6 years
    </p>
    <p class="w-100-p">
      <mat-icon class="detail-icon">account_balance_wallet</mat-icon> ₹ 2,00,000 - 7,00,000 P.A.
    </p>
    <p class="w-100-p">
      <mat-icon class="detail-icon">room</mat-icon> Ahmedabad
    </p>

  </div>

  <div>

    <p class="w-100-p font-size-14   font-weight-900">Job description</p>
    <p>
      Integration of user-facing elements development by front-end developers. Build efficient, testable and reusable PHP Modules <br/>
      Solve performance problems and architectural challenges <br/>
      Integration of data storage solution, may include database, key-value stores, etc.
      Hands on strong experience on core php and its functionality (preferably using latest versions 7.x). <br/>
      Strong knowledge of using MySQL as a relational database and proficient in SQL.
      Strong knowledge of Client-server Architecture and network concepts.
      Good understanding of front-end technologies, such as JavaScript, jQuery, HTML5, and CSS3 (ext.js, angular.js, bootstrap, HighStock charts will be added advantage)
    </p>

  </div>

</div>