<div class="fuse-search-bar" [ngClass]="{'expanded':!collapsed}">

    <div class="fuse-search-bar-content">

        <label for="fuse-search-bar-input">
                
            <button mat-icon-button class="fuse-search-bar-expander" aria-label="Expand Search Bar" (click)="expand()"
                *ngIf="collapsed">
                <mat-icon class="s-24 secondary-text">search</mat-icon>
            </button>
        </label>
        <!-- <div class="border-left" *ngIf="collapsed">
            <button mat-icon-button class="fuse-search-bar-expander">
                    <mat-icon class="s-24 secondary-text">filter_list</mat-icon>
                </button>
        </div> -->
        <input id="fuse-search-bar-input" class="ml-24" type="text" placeholder="Search" [formControl]="searchBox" (input)="search($event)" fxFlex [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selectedJob($event)">
            <mat-option class="search-list border-bottom p-16" *ngFor="let option of filteredOptions | async" [value]="option">
                <!-- <div>
                    <img [src]="option.logo" style="height: 100px;">
                </div> -->
                <div class="img-box border mr-16">
                    <img [src]="option.logo">
                </div>
                <div class="desc" fxLayout="row wrap" fxLayoutAlign=" start">
                    <div class="l-n" fxLayout="column" fxFlex="100%" fxFlex.gt-xs="100%" fxFlex.gt-sm="100%">
                        <span class="text-warp primary-900-fg font-weight-800">{{option.jobPosition}}</span>
                        <span class="hint-text">{{ option.companyName }}</span>
                    </div>
                    <div class="pr-16 mt-8 l-n" fxLayout="row">
                        <div class="icon">
                            <mat-icon class="mr-8">schedule</mat-icon>
                        </div>
                        <span class="text-warp secondary-text">5-8 yrs</span>
                    </div>
                    <div class="pr-16 mt-8 l-n" fxLayout="row">
                        <div class="icon">
                            <mat-icon class="mr-8">room</mat-icon>
                        </div>
                        <span class="text-warp secondary-text">{{option.location}}</span>
                    </div>
                    <div class="pr-16 mt-8 l-n" fxLayout="row">
                        <div class="icon">
                            <mat-icon class="mr-8">account_balance_wallet</mat-icon>
                        </div>
                        <span class="text-warp secondary-text">NRI  9,00,000 - 15,00,000 PA</span>
                    </div>
                    <div class="pr-16 mt-8 l-n" fxLayout="row" fxFlex="100%" fxFlex.gt-xs="100%" fxFlex.gt-sm="100%">
                        <div class="icon">
                            <mat-icon class="mr-8">layers</mat-icon>
                        </div>
                        <span class="secondary-text skill">{{option.jobDescription}}</span>
                    </div>

                </div>
                <!-- <div class="w-80-p p-32">
                    <div>
                        <span class="font-weight-800">{{option.title}}</span>
                    </div>
                    <div>
                        <span>{{option.company}}</span>
                        <span>{{option.location}}</span>
                        <span>{{option.description}}</span>
                    </div>
                    <div>
                        <span><mat-icon>watch_later</mat-icon> {{ option.time }} </span>
                        <span class="ml-100"><mat-icon>work</mat-icon> {{ option.jobType }}</span>
                    </div>
                </div>
                <div class="w-20-p">
                    <button mat-icon-button class="apply-button" aria-label="Apply">
                        <mat-icon class="s-24 secondary-text">add_box
                            </mat-icon>
                    </button>
                </div> -->
            </mat-option>
        </mat-autocomplete>

        <button mat-icon-button class="fuse-search-bar-collapser" (click)="collapse()" aria-label="Collapse Search Bar">
            <mat-icon class="s-24 secondary-text">close</mat-icon>
        </button>

        <div class="border-left" *ngIf="!collapsed">
            <button mat-icon-button class="fuse-search-bar-expander"
                matTooltip="Apply Filter" [matTooltipPosition]="'above'" (click)="openFilterModal()">
                <mat-icon class="s-24 secondary-text">filter_list</mat-icon>
            </button>
        </div>

    </div>

</div>